src/main/mule/apiV1.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <http:listener-config name="apiV1-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="apiV1-config" api="apiV1.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="apiV1-main">
        <http:listener config-ref="apiV1-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="apiV1-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="apiV1-console">
        <http:listener config-ref="apiV1-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="apiV1-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\organizations\(orgId)\connectedApplications\allowlist:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\organizations\(orgId)\connectedApplications\allowlist:application\json:apiV1-config" />
    </flow>
    <flow name="put:\organizations\(orgId)\environments\(environmentId)\clientManagementProviders:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="environmentId">attributes.uriParams.'environmentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  suggestedClientManagementProviderIds: [
    "6a57bf06-9124-11e9-bc42-526af7764f64"
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\v2\organizations\(orgId)\entitlements:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  hybrid: {
    enabled: true
  },
  createEnvironments: true,
  globalDeployment: true,
  createSubOrgs: true,
  vCoresProduction: {
    assigned: 1,
    reassigned: 0
  },
  vCoresSandbox: {
    assigned: 1,
    reassigned: 0
  },
  vCoresDesign: {
    assigned: 1,
    reassigned: 0
  },
  staticIps: {
    assigned: 1,
    reassigned: 0
  },
  vpcs: {
    assigned: 0,
    reassigned: 0
  },
  vpns: {
    assigned: 0,
    reassigned: 0
  },
  networkConnections: {
    assigned: 0,
    reassigned: 0
  },
  workerLoggingOverride: {
    enabled: false
  },
  messaging: {
    assigned: 0
  },
  mqMessages: {
    base: 0,
    addOn: 0
  },
  mqRequests: {
    base: 0,
    addOn: 0
  },
  mqAdvancedFeatures: {
    enabled: false
  },
  objectStoreRequestUnits: {
    base: 0,
    addOn: 0
  },
  objectStoreKeys: {
    base: 0,
    addOn: 0
  },
  gateways: {
    assigned: 0
  },
  designCenter: {
    mozart: true,
    api: true,
    apiVisual: false,
    apiExample: false
  },
  partnersProduction: {
    assigned: 0
  },
  partnersSandbox: {
    assigned: 0
  },
  tradingPartnersProduction: {
    assigned: 0
  },
  tradingPartnersSandbox: {
    assigned: 0
  },
  loadBalancer: {
    assigned: 0,
    reassigned: 0
  },
  externalIdentity: true,
  autoscaling: false,
  armAlerts: false,
  hybridInsight: true,
  hybridAutoDiscoverProperties: true,
  apis: {
    enabled: true
  },
  apiCatalog: {
    enabled: false
  },
  apiMonitoring: {
    schedules: 0
  },
  apiCommunityManager: {
    enabled: false
  },
  monitoringCenter: {
    productSKU: 0,
    rawStorageOverrideGB: 0,
    dataRegion: "us-east-1",
    productionUnits: 0,
    preProductionUnits: 0,
    storageBase: 0,
    storageAddOn: 0
  },
  apiQuery: {
    enabled: false,
    productSKU: 1
  },
  apiQueryC360: {
    enabled: false
  },
  angGovernance: {
    level: -1
  },
  apiGovernance: {
    enabled: true,
    apisPerMonth: 0
  },
  crowd: {
    hideApiManagerDesigner: false,
    hideFormerApiPlatform: false,
    environments: false
  },
  cam: {
    enabled: false
  },
  exchange2: {
    enabled: false
  },
  crowdSelfServiceMigration: {
    enabled: false
  },
  kpiDashboard: {
    enabled: false
  },
  pcf: false,
  appViz: false,
  workerClouds: {
    assigned: 0,
    reassigned: 0
  },
  runtimeFabric: false,
  serviceMesh: {
    enabled: false
  },
  flexGateway: {
    enabled: false
  },
  runtimeFabricCloud: {
    enabled: false
  },
  composer: {
    enabled: false,
    tasksPerMonth: 100,
    maxConnectors: 3,
    unlimitedConnectors: false
  },
  muleDxWebIde: {
    enabled: false
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\organizations\(orgId)\teams\(teamId)\groupmappings:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\organizations\(orgId)\teams\(teamId)\groupmappings:application\json:apiV1-config" />
    </flow>
    <flow name="put:\organizations\(orgId)\teams\(teamId)\parent:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
  team_name: "IT",
  org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
  org_name: "Mythical Bank",
  team_type: "internal",
  ancestor_team_ids: [
    "6cad8143-5f3c-4258-8091-2e664819e7f3"
  ],
  created_at: "2019-07-15T09:36:07.123Z",
  updated_at: "2019-07-15T09:36:07.123Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\cs\organizations\(orgId)\externalAccess\relations:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\cs\organizations\(orgId)\externalAccess\relations:application\json:apiV1-config" />
    </flow>
    <flow name="put:\connectedApplications\(clientId)\scopes:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\connectedApplications\(clientId)\scopes:application\json:apiV1-config" />
    </flow>
    <flow name="put:\organizations\(orgId)\provider\users:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\organizations\(orgId)\provider\users:application\json:apiV1-config" />
    </flow>
    <flow name="put:\organizations\(orgId)\connectedApplications\whitelist:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\organizations\(orgId)\connectedApplications\whitelist:application\json:apiV1-config" />
    </flow>
    <flow name="put:\organizations\(orgId)\clientProviders\(clientProviderId):application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientProviderId">attributes.uriParams.'clientProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\organizations\(orgId)\clientProviders\(clientProviderId):application\json:apiV1-config" />
    </flow>
    <flow name="put:\organizations\(orgId)\teams\(teamId)\members\(userId):application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="put:\organizations\(orgId)\teams\(teamId)\members\(userId):application\json:apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\connectedApplications\allowlist:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\connectedApplications\allowlist:application\json:apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\connectedApplications\authorizations:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\connectedApplications\authorizations:apiV1-config" />
    </flow>
    <flow name="delete:\cs\organizations\(org)\rolegroups\delete_empty:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\cs\organizations\(org)\rolegroups\delete_empty:apiV1-config" />
    </flow>
    <flow name="delete:\cs\organizations\(orgId)\externalAccess:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\cs\organizations\(orgId)\externalAccess:apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\teams\(teamId)\groupmappings:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\teams\(teamId)\groupmappings:application\json:apiV1-config" />
    </flow>
    <flow name="delete:\invites:application\json:apiV1-config">
        <logger level="INFO" message="delete:\invites:application\json:apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\invites:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\invites:application\json:apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\teams\(teamId)\members:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\teams\(teamId)\members:application\json:apiV1-config" />
    </flow>
    <flow name="delete:\connectedApplications\(clientId)\revoke:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\connectedApplications\(clientId)\revoke:apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\teams\(teamId)\roles:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\teams\(teamId)\roles:application\json:apiV1-config" />
    </flow>
    <flow name="delete:\connectedApplications\(clientId)\scopes:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\connectedApplications\(clientId)\scopes:application\json:apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\provider\users:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\provider\users:apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\connectedApplications\whitelist:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\connectedApplications\whitelist:application\json:apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\connectedApplications\authorizations\(authorizationId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="authorizationId">attributes.uriParams.'authorizationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\connectedApplications\authorizations\(authorizationId):apiV1-config" />
    </flow>
    <flow name="delete:\connectedApplications\(clientId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\connectedApplications\(clientId):apiV1-config" />
    </flow>
    <flow name="delete:\cs\organizations\(orgId)\connectedApplications\(clientId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\cs\organizations\(orgId)\connectedApplications\(clientId):apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\clientProviders\(clientProviderId)\clients\(clientId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientProviderId">attributes.uriParams.'clientProviderId'</ee:set-variable>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\clientProviders\(clientProviderId)\clients\(clientId):apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\clientProviders\(clientProviderId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientProviderId">attributes.uriParams.'clientProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\clientProviders\(clientProviderId):apiV1-config" />
    </flow>
    <flow name="delete:\v2\organizations\(orgId)\environments\(environmentId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="environmentId">attributes.uriParams.'environmentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\v2\organizations\(orgId)\environments\(environmentId):apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\identityProviders\(identityProviderId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="identityProviderId">attributes.uriParams.'identityProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\identityProviders\(identityProviderId):apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\users\(userId)\identityProviders\(identityProviderId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="identityProviderId">attributes.uriParams.'identityProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\users\(userId)\identityProviders\(identityProviderId):apiV1-config" />
    </flow>
    <flow name="delete:\v2\organizations\(orgId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\v2\organizations\(orgId):apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\identityProviders\(identityProviderId)\saml-sp-keys\(samlSpKeyId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="identityProviderId">attributes.uriParams.'identityProviderId'</ee:set-variable>
                <ee:set-variable variableName="samlSpKeyId">attributes.uriParams.'samlSpKeyId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\identityProviders\(identityProviderId)\saml-sp-keys\(samlSpKeyId):apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\teams\(teamId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\teams\(teamId):apiV1-config" />
    </flow>
    <flow name="delete:\organizations\(orgId)\teams\(teamId)\members\(userId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="delete:\organizations\(orgId)\teams\(teamId)\members\(userId):apiV1-config" />
    </flow>
    <flow name="patch:\organizations\(orgId)\connectedApplications\allowlist:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\organizations\(orgId)\connectedApplications\allowlist:application\json:apiV1-config" />
    </flow>
    <flow name="patch:\organizations\(orgId)\teams\(teamId)\groupmappings:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\organizations\(orgId)\teams\(teamId)\groupmappings:application\json:apiV1-config" />
    </flow>
    <flow name="patch:\organizations\(orgId)\identityProviderSettings:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\organizations\(orgId)\identityProviderSettings:application\json:apiV1-config" />
    </flow>
    <flow name="patch:\organizations\(orgId)\teams\(teamId)\members:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\organizations\(orgId)\teams\(teamId)\members:application\json:apiV1-config" />
    </flow>
    <flow name="patch:\connectedApplications\(clientId)\scopes:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\connectedApplications\(clientId)\scopes:application\json:apiV1-config" />
    </flow>
    <flow name="patch:\organizations\(orgId)\connectedApplications\settings:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  whitelist_enabled: false,
  applications_enabled: "partial",
  grant_types_allowed: [
    "implicit", 
    "client_credentials", 
    "refresh_token"
  ],
  whitelist_internal_applications: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\organizations\(orgId)\connectedApplications\whitelist:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\organizations\(orgId)\connectedApplications\whitelist:application\json:apiV1-config" />
    </flow>
    <flow name="patch:\connectedApplications\(clientId):application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  client_id: "0fa2aa2f0aeb4978b96796a0843f898c",
  owner_org_id: "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
  client_name: "SampleClient",
  client_secret: "B0313ad5a6B44f7ebb4Bf482C49327e1",
  public_keys: [],
  redirect_uris: [
    "https://why.net"
  ],
  grant_types: [
    "client_credentials"
  ],
  scopes: [],
  enabled: true,
  audience: "internal"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\organizations\(orgId)\clientProviders\(clientProviderId)\clients\(clientId):application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientProviderId">attributes.uriParams.'clientProviderId'</ee:set-variable>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\organizations\(orgId)\clientProviders\(clientProviderId)\clients\(clientId):application\json:apiV1-config" />
    </flow>
    <flow name="patch:\organizations\(orgId)\clientProviders\(clientProviderId):application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientProviderId">attributes.uriParams.'clientProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\organizations\(orgId)\clientProviders\(clientProviderId):application\json:apiV1-config" />
    </flow>
    <flow name="patch:\organizations\(orgId)\identityProviders\(identityProviderId):application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="identityProviderId">attributes.uriParams.'identityProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="patch:\organizations\(orgId)\identityProviders\(identityProviderId):application\json:apiV1-config" />
    </flow>
    <flow name="patch:\organizations\(orgId)\teams\(teamId):application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
  team_name: "IT",
  org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
  org_name: "Mythical Bank",
  team_type: "internal",
  ancestor_team_ids: [
    "6cad8143-5f3c-4258-8091-2e664819e7f3"
  ],
  created_at: "2019-07-15T09:36:07.123Z",
  updated_at: "2019-07-15T09:36:07.123Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\v2\oauth2\.well-known\openid-configuration:apiV1-config">
        <logger level="INFO" message="get:\v2\oauth2\.well-known\openid-configuration:apiV1-config" />
    </flow>
    <flow name="get:\invites\accept:apiV1-config">
        <logger level="INFO" message="get:\invites\accept:apiV1-config" />
    </flow>
    <flow name="get:\cs\organizations\(orgId)\administrators:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      id: "462ddd98-edd2-423b-9218-9f8e0f4c42ba",
      username: "anypointadmin",
      firstName: "Admin",
      lastName: "Admin",
      email: "mulesoft.library+admin@gmail.com",
      organizationId: "68ef9520-24e9-4cf2-b2f5-620025690913",
      enabled: true,
      idprovider_id: "mulesoft",
      context_params: {}
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\connectedApplications\allowlist:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      client_id: "cba8d24f-8e6b-4615-9bb8-bc5a2c9933cd",
      authorized_scopes: [
        "openid", 
        "offline_access", 
        "read:organization"
      ]
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\resources\connectedApplications\authorization:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  authorization_id: "231245124",
  created_at: "2018-01-26T22:39:02.312Z",
  updated_at: "2018-01-26T22:39:02.312Z",
  last_used: "2018-01-26T22:39:02.312Z",
  user_id: "b65f412f-7d36-4109-b196-9d5ad07c2083",
  client_id: "d5e32198-7cc1-4c26-ab83-fd8912e16967",
  as_id: "anypoint",
  scopes: [
    "read:raml", 
    "read:users", 
    "offline_access"
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\connectedApplications\authorizations:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      authorization_id: "456",
      created_at: "2018-01-26T22:39:02.312Z",
      updated_at: "2018-01-26T22:39:02.312Z",
      last_used: "2018-01-26T22:39:02.312Z",
      user_id: "b65f412f-7d36-4109-b196-9d5ad07c2083",
      client_id: "d5e32198-7cc1-4c26-ab83-fd8912e16967",
      as_id: "anypoint",
      scopes: [
        "read:raml", 
        "read:users", 
        "offline_access"
      ]
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\oauth2\authorize:apiV1-config">
        <logger level="INFO" message="get:\oauth2\authorize:apiV1-config" />
    </flow>
    <flow name="get:\v2\oauth2\authorize:apiV1-config">
        <logger level="INFO" message="get:\v2\oauth2\authorize:apiV1-config" />
    </flow>
    <flow name="get:\organizations\(orgId)\environments\(environmentId)\clientManagementProviders:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="environmentId">attributes.uriParams.'environmentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  suggestedClientManagementProviderIds: [
    "6a57bf06-9124-11e9-bc42-526af7764f64"
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(orgId)\clientProviders:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      providerId: "2e50e859-0042-46ff-8cf8-1ad6f0c78b67",
      organizationId: "2e71d283-6248-4c81-98eb-e254a89b7e0a",
      name: "Production Client Management Config",
      "type": {
        description: "PingFederate",
        name: "ping"
      },
      associatedEnvironmentCount: 5
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\clientProviders:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      providerId: "2e50e859-0042-46ff-8cf8-1ad6f0c78b67",
      organizationId: "2e71d283-6248-4c81-98eb-e254a89b7e0a",
      name: "Production Client Management Config",
      "type": {
        description: "PingFederate",
        name: "ping"
      }
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\clientProviders\(clientProviderId)\clients:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientProviderId">attributes.uriParams.'clientProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      client_id: "8c45c1f1-d35b-42ed-b497-8c4af9e18c4e",
      client_name: "SampleClient",
      client_secret: "test-client-secret",
      grant_types: [
        "implicit"
      ],
      redirect_uris: [
        "https://localhost:3000/callback", 
        "https://example.com/auth-callback"
      ],
      org_id: "693ceb1a-c801-4b31-a491-8f194a624165",
      client_management_provider_id: "ff62313fc59845beaba2ffa79da1abc8"
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\conditionalAssignments:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  organizations: [
    {
      id: "2cd73eff-e862-4b4e-b596-84cf8eb6f11d",
      name: "The Root Org",
      isRoot: true,
      isMaster: true,
      environments: [
        {
          id: "9d8b7b39-7744-4ab7-9fb6-a75a343c5ee4",
          name: "Prod",
          "type": "production"
        }, 
        {
          id: "2d6660fe-d5fc-4da6-90bd-68fc17b478f7",
          name: "Design",
          "type": "design"
        }
      ]
    }, 
    {
      id: "0e6700dc-41a1-4234-889e-908d9d6df3e2",
      name: "A Sub-Org",
      isRoot: false,
      isMaster: false,
      environments: [
        {
          id: "f16f1c35-c517-4442-8f73-36d0879e5832",
          name: "Americas",
          "type": "design"
        }, 
        {
          id: "f84ab301-17d4-4ed0-9beb-0c977e98045c",
          name: "Sub-Org Sandbox",
          "type": "sandbox"
        }
      ]
    }
  ],
  products: [
    {
      product_id: "api_manager",
      label: "API Manager",
      permissions: [
        {
          displayName: "API Manager Environment Administrator",
          contextKeys: [
            "org", 
            "envId"
          ],
          scope: "manage:apis",
          role_id: "f14b0d23-a267-4014-9563-29d46a26295b",
          description: "Manage all APIs inside a specific environment",
          conditions: []
        }, 
        {
          displayName: "Manage Policies",
          contextKeys: [
            "org", 
            "envId"
          ],
          scope: "manage:api_policies",
          role_id: "92000113-61b8-4d82-a98f-7d36275d6bc6",
          description: "Manage all APIs policies inside a specific environment",
          conditions: []
        }
      ]
    }, 
    {
      product_id: "cloudhub",
      label: "We Changed Our Name Too Many Times",
      permissions: [
        {
          displayName: "Read Applications",
          contextKeys: [
            "org", 
            "envId"
          ],
          scope: "read:applications",
          role_id: "3c91e5ca-fe58-441f-b6ab-a2be0a684bbf",
          description: "Gives read access to applications in a specific environment",
          conditions: [
            "noDesignEnvironments"
          ]
        }
      ]
    }, 
    {
      product_id: "visualizer",
      label: "Application Visualizer",
      permissions: [
        {
          displayName: "Visualizer Editor",
          contextKeys: [
            "org"
          ],
          scope: "edit:visualizer",
          role_id: "6a78512a-8c75-4744-ad24-87e6e5847e73",
          description: "Grants write and read access to Visualizer",
          conditions: [
            "noSubOrganizations"
          ]
        }
      ]
    }, 
    {
      product_id: "cs_auth",
      label: "Access Management",
      permissions: [
        {
          displayName: "openidConnect",
          contextKeys: [],
          scope: "openid",
          role_id: "9f3f516d-4355-491c-bbf1-523b1480dcce",
          description: "Read-only access to your username and Anypoint ID",
          conditions: []
        }
      ]
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\connectedApplications:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      client_id: "0fa2aa2f0aeb4978b96796a0843f898c",
      owner_org_id: "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
      client_name: "Client Credz",
      client_uri: null,
      policy_uri: null,
      tos_uri: null
    }, 
    {
      client_id: "e8c28f0249a6417bb892ff8d6013d628",
      owner_org_id: "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
      client_name: "OpenID Integration",
      client_uri: null,
      policy_uri: null,
      tos_uri: null
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connectedApplications:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      client_id: "0fa2aa2f0aeb4978b96796a0843f898c",
      owner_org_id: "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
      client_name: "Client Credz",
      client_secret: "B0313ad5a6B44f7ebb4Bf482C49327e1",
      public_keys: [],
      redirect_uris: [
        "https://why.net"
      ],
      grant_types: [
        "client_credentials"
      ],
      scopes: [],
      enabled: true,
      audience: "internal",
      client_uri: null,
      policy_uri: null,
      tos_uri: null
    }, 
    {
      client_id: "e8c28f0249a6417bb892ff8d6013d628",
      owner_org_id: "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
      client_name: "OpenID Integration",
      client_secret: "eA0Fa9BaAe454F32A6Ae8ABBc1b730C0",
      public_keys: [],
      redirect_uris: [
        "https://example.com"
      ],
      grant_types: [
        "implicit", 
        "authorization_code", 
        "refresh_token"
      ],
      scopes: [
        "full", 
        "read:full", 
        "openid", 
        "profile", 
        "email", 
        "offline_access"
      ],
      enabled: true,
      audience: "internal",
      client_uri: null,
      policy_uri: null,
      tos_uri: null
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(orgId)\connectedApplications\authorizations:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      client_id: "d5e32198-7cc1-4c26-ab83-fd8912e16967",
      client_name: "RAML Sync Tool",
      client_uri: "https://ramlsynctool.com/about.html",
      tos_uri: "https://ramlsynctool.com/tos.html",
      policy_uri: "https://ramlsynctool.com/privacy.html",
      user_authorized_scopes: [
        "profile", 
        "read:raml"
      ],
      attached_scopes: [
        "profile", 
        "offline_access", 
        "read:raml", 
        "read:users"
      ],
      whitelisted_scopes: [
        "profile", 
        "read:raml", 
        "read:users"
      ],
      allowlisted_scopes: [
        "profile", 
        "read:raml", 
        "read:users"
      ],
      user_count: 5,
      is_internal_app: false,
      allowlist_applies_to_app: true,
      whitelist_applies_to_app: true,
      allowlist_outdated: true,
      whitelist_outdated: true
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\v2\cs:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  organizations: [
    {
      name: "MuleSoft Inc",
      id: "f14c7707-bf2f-4402-addf-d475efba557c",
      createdAt: "2015-03-13T18:03:23.869Z",
      updatedAt: "2015-03-13T18:03:24.207Z",
      ownerId: "57e281b5-ec5b-4701-80a0-92a936a68da3",
      clientId: "23dd2e8a-01c0-44e2-84a0-3c0b39d0d541",
      domain: "mulesoft-inc",
      idprovider_id: "mulesoft",
      isFederated: false,
      parentOrganizationIds: [],
      subOrganizationIds: [
        "61dd3d93-2859-416c-8547-55047c9ced72"
      ],
      entitlements: {
        hybrid: {
          enabled: true
        },
        hybridInsight: false,
        hybridAutoDiscoverProperties: true,
        createEnvironments: true,
        globalDeployment: true,
        createSubOrgs: true,
        vCoresProduction: {
          assigned: 1,
          reassigned: 0
        },
        vCoresSandbox: {
          assigned: 1,
          reassigned: 0
        },
        vCoresDesign: {
          assigned: 1,
          reassigned: 0
        },
        staticIps: {
          assigned: 0,
          reassigned: 0
        },
        vpcs: {
          assigned: 0,
          reassigned: 0
        },
        vpns: {
          assigned: 0,
          reassigned: 0
        },
        networkConnections: {
          assigned: 0,
          reassigned: 0
        },
        workerLoggingOverride: {
          enabled: false
        },
        messaging: {
          assigned: 0
        },
        mqMessages: {
          base: 0,
          addOn: 0
        },
        mqRequests: {
          base: 0,
          addOn: 0
        },
        mqAdvancedFeatures: {
          enabled: false
        },
        objectStoreRequestUnits: {
          base: 0,
          addOn: 0
        },
        objectStoreKeys: {
          base: 0,
          addOn: 0
        },
        gateways: {
          assigned: 0
        },
        designCenter: {
          mozart: true,
          api: true,
          apiVisual: false,
          apiExample: false
        },
        partnersProduction: {
          assigned: 0
        },
        partnersSandbox: {
          assigned: 0
        },
        tradingPartnersProduction: {
          assigned: 0
        },
        tradingPartnersSandbox: {
          assigned: 0
        },
        loadBalancer: {
          assigned: 1,
          reassigned: 0
        },
        externalIdentity: true,
        autoscaling: false,
        armAlerts: false,
        apis: {
          enabled: true
        },
        apiMonitoring: {
          schedules: 0
        },
        apiCommunityManager: {
          enabled: false
        },
        apiCatalog: {
          enabled: false
        },
        monitoringCenter: {
          productSKU: 0,
          rawStorageOverrideGB: 0,
          dataRegion: "us-east-1",
          productionUnits: 0,
          preProductionUnits: 0,
          storageBase: 0,
          storageAddOn: 0
        },
        apiQuery: {
          enabled: false,
          productSKU: 1
        },
        apiQueryC360: {
          enabled: false
        },
        angGovernance: {
          level: -1
        },
        apiGovernance: {
          enabled: true,
          apisPerMonth: 0
        },
        crowd: {
          hideApiManagerDesigner: false,
          hideFormerApiPlatform: false,
          environments: false
        },
        cam: {
          enabled: false
        },
        exchange2: {
          enabled: false
        },
        crowdSelfServiceMigration: {
          enabled: false
        },
        kpiDashboard: {
          enabled: false
        },
        pcf: false,
        appViz: false,
        workerClouds: {
          assigned: 0,
          reassigned: 0
        },
        runtimeFabric: false,
        runtimeFabricCloud: {
          enabled: false
        },
        serviceMesh: {
          enabled: false
        },
        flexGateway: {
          enabled: false
        },
        composer: {
          enabled: false,
          tasksPerMonth: 100,
          maxConnectors: 3,
          unlimitedConnectors: false
        },
        muleDxWebIde: {
          enabled: false
        }
      },
      tenantOrganizationIds: [],
      isRoot: true,
      isMaster: true,
      sessionTimeout: 60,
      properties: {},
      subscription: {
        category: "Developer",
        "type": "Free",
        expiration: "2014-07-27T20:56:02.125Z"
      }
    }, 
    {
      name: "MuleSoft Inc Sub Org",
      id: "61dd3d93-2859-416c-8547-55047c9ced72",
      createdAt: "2015-03-13T18:03:23.869Z",
      updatedAt: "2015-03-13T18:03:24.207Z",
      ownerId: "57e281b5-ec5b-4701-80a0-92a936a68da3",
      clientId: "b63237d9c5d444ea95147065e0711161",
      domain: "mulesoft-inc",
      idprovider_id: "mulesoft",
      isFederated: false,
      parentOrganizationIds: [
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      subOrganizationIds: [],
      entitlements: {
        hybrid: {
          enabled: true
        },
        hybridInsight: false,
        hybridAutoDiscoverProperties: true,
        createEnvironments: true,
        globalDeployment: true,
        createSubOrgs: true,
        vCoresProduction: {
          assigned: 1,
          reassigned: 0
        },
        vCoresSandbox: {
          assigned: 1,
          reassigned: 0
        },
        vCoresDesign: {
          assigned: 1,
          reassigned: 0
        },
        staticIps: {
          assigned: 0,
          reassigned: 0
        },
        vpcs: {
          assigned: 0,
          reassigned: 0
        },
        vpns: {
          assigned: 0,
          reassigned: 0
        },
        workerLoggingOverride: {
          enabled: false
        },
        messaging: {
          assigned: 0
        },
        mqMessages: {
          base: 0,
          addOn: 0
        },
        mqRequests: {
          base: 0,
          addOn: 0
        },
        mqAdvancedFeatures: {
          enabled: false
        },
        objectStoreRequestUnits: {
          base: 0,
          addOn: 0
        },
        objectStoreKeys: {
          base: 0,
          addOn: 0
        },
        gateways: {
          assigned: 0
        },
        designCenter: {
          mozart: true,
          api: true,
          apiVisual: false,
          apiExample: false
        },
        partnersProduction: {
          assigned: 0
        },
        partnersSandbox: {
          assigned: 0
        },
        tradingPartnersProduction: {
          assigned: 0
        },
        tradingPartnersSandbox: {
          assigned: 0
        },
        loadBalancer: {
          assigned: 1,
          reassigned: 0
        },
        externalIdentity: true,
        autoscaling: false,
        armAlerts: false,
        apis: {
          enabled: true
        },
        apiCatalog: {
          enabled: false
        },
        apiMonitoring: {
          schedules: 0
        },
        apiCommunityManager: {
          enabled: false
        },
        monitoringCenter: {
          productSKU: 0,
          rawStorageOverrideGB: 0,
          dataRegion: "us-east-1",
          productionUnits: 0,
          preProductionUnits: 0,
          storageBase: 0,
          storageAddOn: 0
        },
        apiQuery: {
          enabled: false,
          productSKU: 1
        },
        apiQueryC360: {
          enabled: false
        },
        angGovernance: {
          level: -1
        },
        apiGovernance: {
          enabled: true,
          apisPerMonth: 0
        },
        crowd: {
          hideApiManagerDesigner: false,
          hideFormerApiPlatform: false,
          environments: false
        },
        cam: {
          enabled: false
        },
        exchange2: {
          enabled: false
        },
        crowdSelfServiceMigration: {
          enabled: false
        },
        kpiDashboard: {
          enabled: false
        },
        pcf: false,
        appViz: false,
        workerClouds: {
          assigned: 0,
          reassigned: 0
        },
        runtimeFabric: false,
        runtimeFabricCloud: {
          enabled: false
        },
        serviceMesh: {
          enabled: false
        },
        flexGateway: {
          enabled: false
        },
        composer: {
          enabled: false,
          tasksPerMonth: 100,
          maxConnectors: 3,
          unlimitedConnectors: false
        },
        muleDxWebIde: {
          enabled: false
        }
      },
      tenantOrganizationIds: [],
      isRoot: false,
      isMaster: false
    }
  ],
  permissions: {
    profile: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      edit: [
        "61dd3d93-2859-416c-8547-55047c9ced72"
      ]
    },
    resetPassword: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    defaultRegion: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    organization: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      edit: [
        "61dd3d93-2859-416c-8547-55047c9ced72"
      ],
      delete: []
    },
    subOrganizations: {
      create: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      delete: [
        "61dd3d93-2859-416c-8547-55047c9ced72"
      ]
    },
    invites: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      create: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    users: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      create: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      edit: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    roles: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      create: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      edit: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    clientSecret: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    identityManagement: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    environments: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      create: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      edit: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      delete: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    teams: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    auditLog: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    exchange: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    cloudhubSettings: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      edit: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    cloudhubEnvironments: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    designEnvironments: {
      enabled: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    proxy_user: {
      enabled: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    entitlements: {
      createEnvironments: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      createSubOrgs: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      hybrid: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      hybridInsight: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      hybridAutoDiscoverProperties: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      loadBalancer: {
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      vCoresProduction: {
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      vCoresSandbox: {
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      vCoresDesign: {
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      staticIps: {
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      vpcs: {
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      vpns: {
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      globalDeployment: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      workerLoggingOverride: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [],
        edit: []
      },
      designCenter: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [],
        edit: []
      },
      apiMonitoring: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [],
        edit: []
      },
      monitoringCenter: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [],
        edit: []
      },
      apiQuery: {
        enabled: [],
        view: [],
        edit: []
      },
      apiQueryC360: {
        enabled: [],
        view: [],
        edit: []
      },
      angGovernance: {
        enabled: [],
        view: [],
        edit: []
      },
      apiGovernance: {
        enabled: [],
        view: [],
        edit: []
      },
      partnersProduction: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      partnersSandbox: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      tradingPartnersProduction: {
        enabled: [],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      tradingPartnersSandbox: {
        enabled: [],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      messaging: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      mqMessages: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      mqRequests: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      mqAdvancedFeatures: {
        enabled: [],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      objectStoreRequestUnits: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      objectStoreKeys: {
        enabled: [],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      kpiDashboard: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      pcf: {
        enabled: [],
        view: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ],
        edit: []
      },
      externalIdentity: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ]
      },
      cam: {
        enabled: []
      },
      apiCommunityManager: {
        enabled: []
      },
      apiCatalog: {
        enabled: []
      },
      serviceMesh: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ]
      },
      flexGateway: {
        enabled: [
          "61dd3d93-2859-416c-8547-55047c9ced72", 
          "f14c7707-bf2f-4402-addf-d475efba557c"
        ]
      },
      composer: {
        enabled: []
      },
      muleDxWebIde: {
        enabled: []
      }
    },
    ang_governance: {
      view: []
    },
    api_query: {
      view: []
    },
    api_manager: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    api_platform: {
      view: []
    },
    app_viz: {
      enabled: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ],
      edit: [],
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    cloudhub: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    access_manager: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    admin: {
      view: []
    },
    onboarding: {
      enabled: []
    },
    support: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    general: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    openid: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    design_center: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    dgw: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    "dias-admin-console": {
      view: []
    },
    exchange2: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    kpi_dashboard: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    messaging: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    api_monitoring: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    monitoring_center: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    partner_manager: {
      view: []
    },
    partners: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    secrets_manager: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    security_fabric_edge: {
      view: []
    },
    store: {
      view: [
        "61dd3d93-2859-416c-8547-55047c9ced72", 
        "f14c7707-bf2f-4402-addf-d475efba557c"
      ]
    },
    tokenization: {
      view: []
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(orgId)\externalAccess\domainTest:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    domain: "foo",
    shareable: true,
    details: {
      name: "Foo Banking",
      id: "fff6cf9b-2ade-4563-bf9d-03953592a170"
    }
  }, 
  {
    domain: "bar",
    shareable: false,
    details: {}
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\v2\organizations\(orgId)\entitlements:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  hybrid: {
    enabled: true
  },
  createEnvironments: true,
  globalDeployment: true,
  createSubOrgs: true,
  vCoresProduction: {
    assigned: 1,
    reassigned: 0
  },
  vCoresSandbox: {
    assigned: 1,
    reassigned: 0
  },
  vCoresDesign: {
    assigned: 1,
    reassigned: 0
  },
  staticIps: {
    assigned: 1,
    reassigned: 0
  },
  vpcs: {
    assigned: 0,
    reassigned: 0
  },
  vpns: {
    assigned: 0,
    reassigned: 0
  },
  networkConnections: {
    assigned: 0,
    reassigned: 0
  },
  workerLoggingOverride: {
    enabled: false
  },
  messaging: {
    assigned: 0
  },
  mqMessages: {
    base: 0,
    addOn: 0
  },
  mqRequests: {
    base: 0,
    addOn: 0
  },
  mqAdvancedFeatures: {
    enabled: false
  },
  objectStoreRequestUnits: {
    base: 0,
    addOn: 0
  },
  objectStoreKeys: {
    base: 0,
    addOn: 0
  },
  gateways: {
    assigned: 0
  },
  designCenter: {
    mozart: true,
    api: true,
    apiVisual: false,
    apiExample: false
  },
  partnersProduction: {
    assigned: 0
  },
  partnersSandbox: {
    assigned: 0
  },
  tradingPartnersProduction: {
    assigned: 0
  },
  tradingPartnersSandbox: {
    assigned: 0
  },
  loadBalancer: {
    assigned: 0,
    reassigned: 0
  },
  externalIdentity: true,
  autoscaling: false,
  armAlerts: false,
  hybridInsight: true,
  hybridAutoDiscoverProperties: true,
  apis: {
    enabled: true
  },
  apiCatalog: {
    enabled: false
  },
  apiMonitoring: {
    schedules: 0
  },
  apiCommunityManager: {
    enabled: false
  },
  monitoringCenter: {
    productSKU: 0,
    rawStorageOverrideGB: 0,
    dataRegion: "us-east-1",
    productionUnits: 0,
    preProductionUnits: 0,
    storageBase: 0,
    storageAddOn: 0
  },
  apiQuery: {
    enabled: false,
    productSKU: 1
  },
  apiQueryC360: {
    enabled: false
  },
  angGovernance: {
    level: -1
  },
  apiGovernance: {
    enabled: true,
    apisPerMonth: 0
  },
  crowd: {
    hideApiManagerDesigner: false,
    hideFormerApiPlatform: false,
    environments: false
  },
  cam: {
    enabled: false
  },
  exchange2: {
    enabled: false
  },
  crowdSelfServiceMigration: {
    enabled: false
  },
  kpiDashboard: {
    enabled: false
  },
  pcf: false,
  appViz: false,
  workerClouds: {
    assigned: 0,
    reassigned: 0
  },
  runtimeFabric: false,
  serviceMesh: {
    enabled: false
  },
  flexGateway: {
    enabled: false
  },
  runtimeFabricCloud: {
    enabled: false
  },
  composer: {
    enabled: false,
    tasksPerMonth: 100,
    maxConnectors: 3,
    unlimitedConnectors: false
  },
  muleDxWebIde: {
    enabled: false
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(orgId)\environments:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      id: "f0c9b011-980e-4928-9430-e60e3a97c043",
      organizationId: "70b3f7cb-614c-4276-b0cd-4f73db11602c",
      name: "Development",
      isProduction: true,
      "type": "production",
      clientId: "abdf31490ba44484a1de789baf685e37",
      defaultClientManagementProvider: {
        providerId: "2e50e859-0042-46ff-8cf8-1ad6f0c78b67",
        organizationId: "2e71d283-6248-4c81-98eb-e254a89b7e0a",
        name: "Production Client Management Config",
        "type": {
          description: "PingFederate",
          name: "ping"
        }
      },
      suggestedClientManagementProviderCount: 3
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(orgId)\clientProviders\(clientProviderId)\environments:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientProviderId">attributes.uriParams.'clientProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      id: "226909a3-7ad6-4f4f-8e2e-f8091c9e11d6",
      name: "test-env",
      "type": "sandbox",
      organization_name: "mulesoft"
    }
  ],
  total: 3
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\clientProviders\(clientProviderId)\grantTypes:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientProviderId">attributes.uriParams.'clientProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "type": {
    description: "PingFederate",
    name: "ping"
  },
  grant_types: [
    {
      name: "password",
      label: "Resource Owner Grant",
      required: false,
      exclude: [],
      depends: []
    }, 
    {
      name: "implicit",
      label: "Implicit Grant",
      required: false,
      exclude: [],
      depends: []
    }, 
    {
      name: "client_credentials",
      label: "Client Credentials Grant",
      required: false,
      exclude: [],
      depends: []
    }, 
    {
      name: "authorization_code",
      label: "Authorization Code Grant",
      required: false,
      exclude: [],
      depends: []
    }, 
    {
      name: "refresh_token",
      label: "Refresh Token",
      required: false,
      exclude: [],
      depends: [
        "authorization_code", 
        "password"
      ]
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\teams\(teamId)\groupmappings:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      membership_type: "member",
      external_group_name: "admin_members",
      provider_id: "2e50e859-0042-46ff-8cf8-1ad6f0c78b67"
    }, 
    {
      membership_type: "maintainer",
      external_group_name: "admin_maintainers",
      provider_id: "2e50e859-0042-46ff-8cf8-1ad6f0c78b67"
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(org)\hubSpokeRelations:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      id: 600,
      invited_at: "2022-01-13T19:51:55.433Z",
      invited_by_user: {
        id: "d4691cf7-6cf6-4eb0-b095-87a3b2072a0a",
        username: "hub_org_admin",
        first_name: "HubOrgAdmin",
        last_name: "Administrator"
      },
      hub_org: {
        id: "025abacc-e018-4e38-a117-8c1e6251006c",
        name: "Anypoint Org"
      },
      spoke_org: {
        id: "c731e714-35c2-4e08-98ae-9b843129f4fb",
        name: "Composer Org 1"
      },
      status: "PENDING",
      completed_at: null,
      completed_by_user: null
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(org)\identities:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
      name: "IT",
      "type": "team",
      details: {
        team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
        team_name: "IT",
        org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
        org_name: "Mythical Bank",
        team_type: "internal",
        ancestor_team_ids: [
          "6cad8143-5f3c-4258-8091-2e664819e7f3"
        ],
        created_at: "2019-07-15T09:36:07.123Z",
        updated_at: "2019-07-15T09:36:07.123Z"
      }
    }, 
    {
      id: "d5d309ee-8c23-49e3-bec1-70ee99c42061",
      name: "Immanuel1234",
      "type": "user",
      details: {
        id: "d5d309ee-8c23-49e3-bec1-70ee99c42061",
        username: "example1234",
        firstName: "Example",
        lastName: "Test",
        email: "example1234@example.com",
        enabled: true,
        idprovider_id: "mulesoft",
        "type": "host",
        createdAt: "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
        updatedAt: "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
        lastLogin: "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
        organizationId: "7f30ff47-5917-4a5a-b94d-9fe029edc04d"
      }
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\identityProviderSettings:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  allow_new_non_sso_users: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\users\(userId)\identityProviders:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  provider_ids: [
    "6a57bf06-9124-11e9-bc42-526af7764f64"
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\identityProviders:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      provider_id: "2e50e859-0042-46ff-8cf8-1ad6f0c78b67",
      org_id: "2e71d283-6248-4c81-98eb-e254a89b7e0a",
      name: "Primary Identity Management Config",
      "type": {
        description: "OpenID Connect",
        name: "openid"
      }
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\invites:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      id: 520,
      code: "f2e8dfab-6699-4889-831f-6dc6f8428cb0",
      invited_at: "2015-01-30T22:23:55.433Z",
      invited_email: "christopher.mordue@mulesoft.com",
      invited_by_user: {
        id: "57e281b5-ec5b-4701-80a0-92a936a68da3",
        username: "organization_owner",
        first_name: "Organization2",
        last_name: "Owner"
      },
      invited_to_org: {
        id: "f0c9b011-980e-4928-9430-e60e3a97c043",
        name: "MuleSoft Inc"
      },
      expires_at: "2015-04-10T22:23:55.433Z",
      status: "INVITED",
      completed_at: null,
      completed_by_user: null,
      role_groups: [
        {
          name: "Organization Administrators",
          role_group_id: "0b19f6df-ed81-4fd1-b5e7-4921f5e46f4c"
        }
      ]
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\invites:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      id: 520,
      code: "f2e8dfab-6699-4889-831f-6dc6f8428cb0",
      invited_at: "2015-01-30T22:23:55.433Z",
      invited_email: "christopher.mordue@mulesoft.com",
      invited_by_user: {
        id: "57e281b5-ec5b-4701-80a0-92a936a68da3",
        username: "organization_owner",
        first_name: "Organization2",
        last_name: "Owner"
      },
      invited_to_org: {
        id: "f0c9b011-980e-4928-9430-e60e3a97c043",
        name: "MuleSoft Inc"
      },
      expires_at: "2015-04-10T22:23:55.433Z",
      status: "INVITED",
      completed_at: null,
      completed_by_user: null,
      role_groups: [
        {
          name: "Organization Administrators",
          role_group_id: "0b19f6df-ed81-4fd1-b5e7-4921f5e46f4c"
        }
      ]
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\v2\oauth2\keys:apiV1-config">
        <logger level="INFO" message="get:\v2\oauth2\keys:apiV1-config" />
    </flow>
    <flow name="get:\cs\login\(domain)\metadata:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="domain">attributes.uriParams.'domain'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  isFederated: true,
  name: "domain"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\teams\(teamId)\members:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      identity_type: "team",
      id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
      team_name: "IT",
      membership_type: "member",
      is_assigned_via_external_groups: false,
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z"
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(org)\identityProviders\names:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    provider_id: "2e71d283-6248-4c81-98eb-e254a89b7e0a",
    name: "Primary Identity Management Config",
    idprovider_id: "https://example.com:example.anypoint.mulesoft.com"
  }, 
  {
    provider_id: "00f5d684-c4ed-4c50-8a8e-cdcd0df1dd11",
    name: "Secondary Identity Management Config"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\resources\connectedApplications\organizationGrants:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  isSuccessful: false,
  errorMessages: [
    "Connected Applications are not enabled for this organization", 
    "Grant is not allowed for organization - cannot fulfill grant"
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\resources\connectedApplications\refreshTokens:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    refresh_token: "********",
    user_id: "3b0c42f9-edaf-4075-a61c-7e9711247a52",
    client_id: "78941e8d-7b57-4e90-bee6-46d5b668e4a6",
    next_refresh_token: "********",
    prev_refresh_token: "********",
    scopes: [
      "openid", 
      "refresh_token", 
      "org:admin"
    ],
    expires_at: 5614654321,
    expires_in: 8873927299
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(org)\hubSpokeRelations\(hubSpokeRelationId)\reject:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
                <ee:set-variable variableName="hubSpokeRelationId">attributes.uriParams.'hubSpokeRelationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\cs\organizations\(org)\hubSpokeRelations\(hubSpokeRelationId)\reject:apiV1-config" />
    </flow>
    <flow name="get:\cs\organizations\(orgId)\externalAccess\relations:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    domain: "domain-1",
    details: {
      name: "Mythical Banking",
      id: "450e1b65-4cdd-4269-b887-33b1f8b244fc"
    }
  }, 
  {
    domain: "domain-2",
    details: {
      name: "Anypoint Services",
      id: "1f720705-46bf-48b9-9bcf-fdc539740532"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(org)\teams\(teamId)\roles:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      organization_id: "dec88a92-657b-4a36-a5e6-101c990ec2fa",
      organization_name: "Mythical",
      environment_id: "86cace9d-44e5-4a6f-bb14-b24f9f8ac7b1",
      environment_name: "Design",
      data: [
        {
          product_id: "product_1",
          role_ids: [
            "1"
          ]
        }, 
        {
          product_id: "product_2",
          role_ids: [
            "3"
          ]
        }
      ]
    }, 
    {
      organization_id: "dec88a92-657b-4a36-a5e6-101c990ec2fa",
      organization_name: "Mythical",
      environment_id: null,
      environment_name: null,
      data: [
        {
          product_id: "product_1",
          role_ids: [
            "2"
          ]
        }
      ]
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(org)\users\(userId)\roles:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      organization_id: "dec88a92-657b-4a36-a5e6-101c990ec2fa",
      organization_name: "Mythical",
      environment_id: "86cace9d-44e5-4a6f-bb14-b24f9f8ac7b1",
      environment_name: "Design",
      data: [
        {
          product_id: "product_1",
          role_ids: [
            "1"
          ]
        }, 
        {
          product_id: "product_2",
          role_ids: [
            "3"
          ]
        }
      ]
    }, 
    {
      organization_id: "dec88a92-657b-4a36-a5e6-101c990ec2fa",
      organization_name: "Mythical",
      environment_id: null,
      environment_name: null,
      data: [
        {
          product_id: "product_1",
          role_ids: [
            "2"
          ]
        }
      ]
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\teams\(teamId)\roles:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      role_id: "8b7caaba-e94a-11e4-b02c-1681e6b88ec1",
      name: "Read Servers",
      context_params: {
        org: "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
        envId: "a4946d03-6da4-45e1-9bfb-5bfe029c7793"
      }
    }, 
    {
      role_id: "53823f29-6e57-4c42-acdb-e42a881a888f",
      name: "Manage Servers",
      context_params: {
        org: "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
        envId: "4c4efd56-9232-4f41-bb5c-4990539d519f"
      }
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\identityProviders\(identityProviderId)\saml-sp-keys:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="identityProviderId">attributes.uriParams.'identityProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "1e2994ff-e6f1-4d11-ab93-3f17af9c9630",
    primary: false,
    created_at: "2020-07-02T18:28:25.218Z"
  }, 
  {
    id: "624e3b14-60f4-4813-955a-ef2049f3a0da",
    primary: true,
    created_at: "2020-07-03T18:28:25.218Z"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\provider\users\saml-sp-metadata:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
do {
  ns ns0 urn:oasis:names:tc:SAML:2.0:metadata
  ---
  {
    ns0#EntityDescriptor @(entityID: "domain.anypoint.mulesoft.com", ID: "domain_anypoint_mulesoft.com"): {
      ns0#SPSSODescriptor @(protocolSupportEnumeration: "urn:oasis:names:tc:SAML:2.0:protocol"): {
        ns0#KeyDescriptor @(use: "signing"): do {
          ns ds http://www.w3.org/2000/09/xmldsig#
          ---
          {
            ds#KeyInfo: {
              ds#X509Data: {
                ds#X509Certificate: "MIIEDzCCAvegAwIBAgIJALr9HwgrQ7GeMA0GCSqGSIb3DQEBBQUAMGIxGDAWBgNV\nBAMTD2F1dGgwLmF1dGgwLmNvbTESMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQG\nEwJVUzETMBEGA1UECBMKV2FzaGluZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZDAeFw0x\nMjEyMjkxNTMwNDdaFw0xMzAxMjgxNTMwNDdaMGIxGDAWBgNVBAMTD2F1dGgwLmF1\ndGgwLmNvbTESMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQGEwJVUzETMBEGA1UE\nCBMKV2FzaGluZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZDCCASIwDQYJKoZIhvcNAQEB\nBQADggEPADCCAQoCggEBAMZiVmNHiXLldrgbS50ONNOH7pJ2zg6OcSMkYZGDZJbO\nZ/TqwauC6JOnI7+xtkPJsQHZSFJs4U0srjZKzDCmaz2jLAJDShP2jaXlrki16nDL\nPE//IGAg3BJguSmBCWpDbSm92V9hSsE+Mhx6bDaJiw8yQ+Q8iSm0aTQZtp6O4ICM\nu00ESdh9NJqIECELvP31ADV1Xhj7IbyyVPDFxMv3ol5BySE9wwwOFUq/wv7Xz9LR\niUjUzPO+Lq3OM3o/uCDbk7jD7XrGUuOydALD8ULsXp4EuDO+nFbeXB/iKndZynuV\nKokirywl2nD2IP0/yncdLQZ8ByIyqP3G82fq/l8p7AsCAwEAAaOBxzCBxDAdBgNV\nHQ4EFgQUHI2rUXeBjTv1zAllaPGrHFcEK0YwgZQGA1UdIwSBjDCBiYAUHI2rUXeB\njTv1zAllaPGrHFcEK0ahZqRkMGIxGDAWBgNVBAMTD2F1dGgwLmF1dGgwLmNvbTES\nMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQGEwJVUzETMBEGA1UECBMKV2FzaGlu\nZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZIIJALr9HwgrQ7GeMAwGA1UdEwQFMAMBAf8w\nDQYJKoZIhvcNAQEFBQADggEBAFrXIhCy4T4eGrikb0R2wHv/uS548r3pZyBV0CDb\ncRwAtbnpJMvkGFqKVp4pmyoIDSVNK/j+sLEshB20XftezHZyRJbCUbtKvXQ6Fsxo\neZMlN0ITYKTaoBZKhUxxj90otAhNC58qwGUPqt2LewJhHyLucKkGJ1mQ3b5xKZ53\n2ToufouH9VLhig3H1KnxWo/zMD6Ke8cCk6qO9htuhI06s3GQGS1QWQtAmm17C6Tf\nKgDwQFZwhqHUUZnwKRH8gU6OgZsvhgV1B7H5mjZcu57KMiDBekU9MEY0DCVTN3Wk\nmcTII668zLsJrkNX6PEfck1AMBbVE6pEUKcWwq3uaLvlAUo=\n"
              }
            }
          }
        },
        ns0#KeyDescriptor @(use: "encryption"): do {
          ns ds http://www.w3.org/2000/09/xmldsig#
          ---
          {
            ds#KeyInfo: {
              ds#X509Data: {
                ds#X509Certificate: "MIIEDzCCAvegAwIBAgIJALr9HwgrQ7GeMA0GCSqGSIb3DQEBBQUAMGIxGDAWBgNV\nBAMTD2F1dGgwLmF1dGgwLmNvbTESMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQG\nEwJVUzETMBEGA1UECBMKV2FzaGluZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZDAeFw0x\nMjEyMjkxNTMwNDdaFw0xMzAxMjgxNTMwNDdaMGIxGDAWBgNVBAMTD2F1dGgwLmF1\ndGgwLmNvbTESMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQGEwJVUzETMBEGA1UE\nCBMKV2FzaGluZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZDCCASIwDQYJKoZIhvcNAQEB\nBQADggEPADCCAQoCggEBAMZiVmNHiXLldrgbS50ONNOH7pJ2zg6OcSMkYZGDZJbO\nZ/TqwauC6JOnI7+xtkPJsQHZSFJs4U0srjZKzDCmaz2jLAJDShP2jaXlrki16nDL\nPE//IGAg3BJguSmBCWpDbSm92V9hSsE+Mhx6bDaJiw8yQ+Q8iSm0aTQZtp6O4ICM\nu00ESdh9NJqIECELvP31ADV1Xhj7IbyyVPDFxMv3ol5BySE9wwwOFUq/wv7Xz9LR\niUjUzPO+Lq3OM3o/uCDbk7jD7XrGUuOydALD8ULsXp4EuDO+nFbeXB/iKndZynuV\nKokirywl2nD2IP0/yncdLQZ8ByIyqP3G82fq/l8p7AsCAwEAAaOBxzCBxDAdBgNV\nHQ4EFgQUHI2rUXeBjTv1zAllaPGrHFcEK0YwgZQGA1UdIwSBjDCBiYAUHI2rUXeB\njTv1zAllaPGrHFcEK0ahZqRkMGIxGDAWBgNVBAMTD2F1dGgwLmF1dGgwLmNvbTES\nMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQGEwJVUzETMBEGA1UECBMKV2FzaGlu\nZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZIIJALr9HwgrQ7GeMAwGA1UdEwQFMAMBAf8w\nDQYJKoZIhvcNAQEFBQADggEBAFrXIhCy4T4eGrikb0R2wHv/uS548r3pZyBV0CDb\ncRwAtbnpJMvkGFqKVp4pmyoIDSVNK/j+sLEshB20XftezHZyRJbCUbtKvXQ6Fsxo\neZMlN0ITYKTaoBZKhUxxj90otAhNC58qwGUPqt2LewJhHyLucKkGJ1mQ3b5xKZ53\n2ToufouH9VLhig3H1KnxWo/zMD6Ke8cCk6qO9htuhI06s3GQGS1QWQtAmm17C6Tf\nKgDwQFZwhqHUUZnwKRH8gU6OgZsvhgV1B7H5mjZcu57KMiDBekU9MEY0DCVTN3Wk\nmcTII668zLsJrkNX6PEfck1AMBbVE6pEUKcWwq3uaLvlAUo=\n"
              }
            },
            ns0#EncryptionMethod @(Algorithm: "http://www.w3.org/2001/04/xmlenc#aes256-cbc"): null,
            ns0#EncryptionMethod @(Algorithm: "http://www.w3.org/2001/04/xmlenc#aes128-cbc"): null,
            ns0#EncryptionMethod @(Algorithm: "http://www.w3.org/2001/04/xmlenc#tripledes-cbc"): null
          }
        },
        ns0#SingleLogoutService @(Binding: "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST", Location: "https://anypoint.mulesoft.com/accounts/logout/receive-id"): null,
        ns0#NameIDFormat: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
        ns0#AssertionConsumerService @(index: "1", isDefault: "true", Binding: "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST", Location: "https://anypoint.mulesoft.com/accounts/login/receive-id"): null
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\identityProviders\saml-sp-metadata:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/xml
---
do {
  ns ns0 urn:oasis:names:tc:SAML:2.0:metadata
  ---
  {
    ns0#EntityDescriptor @(entityID: "domain.anypoint.mulesoft.com", ID: "domain_anypoint_mulesoft.com"): {
      ns0#SPSSODescriptor @(protocolSupportEnumeration: "urn:oasis:names:tc:SAML:2.0:protocol"): {
        ns0#KeyDescriptor @(use: "signing"): do {
          ns ds http://www.w3.org/2000/09/xmldsig#
          ---
          {
            ds#KeyInfo: {
              ds#X509Data: {
                ds#X509Certificate: "MIIEDzCCAvegAwIBAgIJALr9HwgrQ7GeMA0GCSqGSIb3DQEBBQUAMGIxGDAWBgNV\nBAMTD2F1dGgwLmF1dGgwLmNvbTESMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQG\nEwJVUzETMBEGA1UECBMKV2FzaGluZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZDAeFw0x\nMjEyMjkxNTMwNDdaFw0xMzAxMjgxNTMwNDdaMGIxGDAWBgNVBAMTD2F1dGgwLmF1\ndGgwLmNvbTESMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQGEwJVUzETMBEGA1UE\nCBMKV2FzaGluZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZDCCASIwDQYJKoZIhvcNAQEB\nBQADggEPADCCAQoCggEBAMZiVmNHiXLldrgbS50ONNOH7pJ2zg6OcSMkYZGDZJbO\nZ/TqwauC6JOnI7+xtkPJsQHZSFJs4U0srjZKzDCmaz2jLAJDShP2jaXlrki16nDL\nPE//IGAg3BJguSmBCWpDbSm92V9hSsE+Mhx6bDaJiw8yQ+Q8iSm0aTQZtp6O4ICM\nu00ESdh9NJqIECELvP31ADV1Xhj7IbyyVPDFxMv3ol5BySE9wwwOFUq/wv7Xz9LR\niUjUzPO+Lq3OM3o/uCDbk7jD7XrGUuOydALD8ULsXp4EuDO+nFbeXB/iKndZynuV\nKokirywl2nD2IP0/yncdLQZ8ByIyqP3G82fq/l8p7AsCAwEAAaOBxzCBxDAdBgNV\nHQ4EFgQUHI2rUXeBjTv1zAllaPGrHFcEK0YwgZQGA1UdIwSBjDCBiYAUHI2rUXeB\njTv1zAllaPGrHFcEK0ahZqRkMGIxGDAWBgNVBAMTD2F1dGgwLmF1dGgwLmNvbTES\nMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQGEwJVUzETMBEGA1UECBMKV2FzaGlu\nZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZIIJALr9HwgrQ7GeMAwGA1UdEwQFMAMBAf8w\nDQYJKoZIhvcNAQEFBQADggEBAFrXIhCy4T4eGrikb0R2wHv/uS548r3pZyBV0CDb\ncRwAtbnpJMvkGFqKVp4pmyoIDSVNK/j+sLEshB20XftezHZyRJbCUbtKvXQ6Fsxo\neZMlN0ITYKTaoBZKhUxxj90otAhNC58qwGUPqt2LewJhHyLucKkGJ1mQ3b5xKZ53\n2ToufouH9VLhig3H1KnxWo/zMD6Ke8cCk6qO9htuhI06s3GQGS1QWQtAmm17C6Tf\nKgDwQFZwhqHUUZnwKRH8gU6OgZsvhgV1B7H5mjZcu57KMiDBekU9MEY0DCVTN3Wk\nmcTII668zLsJrkNX6PEfck1AMBbVE6pEUKcWwq3uaLvlAUo=\n"
              }
            }
          }
        },
        ns0#KeyDescriptor @(use: "encryption"): do {
          ns ds http://www.w3.org/2000/09/xmldsig#
          ---
          {
            ds#KeyInfo: {
              ds#X509Data: {
                ds#X509Certificate: "MIIEDzCCAvegAwIBAgIJALr9HwgrQ7GeMA0GCSqGSIb3DQEBBQUAMGIxGDAWBgNV\nBAMTD2F1dGgwLmF1dGgwLmNvbTESMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQG\nEwJVUzETMBEGA1UECBMKV2FzaGluZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZDAeFw0x\nMjEyMjkxNTMwNDdaFw0xMzAxMjgxNTMwNDdaMGIxGDAWBgNVBAMTD2F1dGgwLmF1\ndGgwLmNvbTESMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQGEwJVUzETMBEGA1UE\nCBMKV2FzaGluZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZDCCASIwDQYJKoZIhvcNAQEB\nBQADggEPADCCAQoCggEBAMZiVmNHiXLldrgbS50ONNOH7pJ2zg6OcSMkYZGDZJbO\nZ/TqwauC6JOnI7+xtkPJsQHZSFJs4U0srjZKzDCmaz2jLAJDShP2jaXlrki16nDL\nPE//IGAg3BJguSmBCWpDbSm92V9hSsE+Mhx6bDaJiw8yQ+Q8iSm0aTQZtp6O4ICM\nu00ESdh9NJqIECELvP31ADV1Xhj7IbyyVPDFxMv3ol5BySE9wwwOFUq/wv7Xz9LR\niUjUzPO+Lq3OM3o/uCDbk7jD7XrGUuOydALD8ULsXp4EuDO+nFbeXB/iKndZynuV\nKokirywl2nD2IP0/yncdLQZ8ByIyqP3G82fq/l8p7AsCAwEAAaOBxzCBxDAdBgNV\nHQ4EFgQUHI2rUXeBjTv1zAllaPGrHFcEK0YwgZQGA1UdIwSBjDCBiYAUHI2rUXeB\njTv1zAllaPGrHFcEK0ahZqRkMGIxGDAWBgNVBAMTD2F1dGgwLmF1dGgwLmNvbTES\nMBAGA1UEChMJQXV0aDAgTExDMQswCQYDVQQGEwJVUzETMBEGA1UECBMKV2FzaGlu\nZ3RvbjEQMA4GA1UEBxMHUmVkbW9uZIIJALr9HwgrQ7GeMAwGA1UdEwQFMAMBAf8w\nDQYJKoZIhvcNAQEFBQADggEBAFrXIhCy4T4eGrikb0R2wHv/uS548r3pZyBV0CDb\ncRwAtbnpJMvkGFqKVp4pmyoIDSVNK/j+sLEshB20XftezHZyRJbCUbtKvXQ6Fsxo\neZMlN0ITYKTaoBZKhUxxj90otAhNC58qwGUPqt2LewJhHyLucKkGJ1mQ3b5xKZ53\n2ToufouH9VLhig3H1KnxWo/zMD6Ke8cCk6qO9htuhI06s3GQGS1QWQtAmm17C6Tf\nKgDwQFZwhqHUUZnwKRH8gU6OgZsvhgV1B7H5mjZcu57KMiDBekU9MEY0DCVTN3Wk\nmcTII668zLsJrkNX6PEfck1AMBbVE6pEUKcWwq3uaLvlAUo=\n"
              }
            },
            ns0#EncryptionMethod @(Algorithm: "http://www.w3.org/2001/04/xmlenc#aes256-cbc"): null,
            ns0#EncryptionMethod @(Algorithm: "http://www.w3.org/2001/04/xmlenc#aes128-cbc"): null,
            ns0#EncryptionMethod @(Algorithm: "http://www.w3.org/2001/04/xmlenc#tripledes-cbc"): null
          }
        },
        ns0#SingleLogoutService @(Binding: "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST", Location: "https://anypoint.mulesoft.com/accounts/logout/receive-id"): null,
        ns0#NameIDFormat: "urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified",
        ns0#AssertionConsumerService @(index: "1", isDefault: "true", Binding: "urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST", Location: "https://anypoint.mulesoft.com/accounts/login/receive-id"): null
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\scopeAssignments:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  organizations: [
    {
      id: "2cd73eff-e862-4b4e-b596-84cf8eb6f11d",
      name: "The Root Org",
      environments: [
        {
          id: "9d8b7b39-7744-4ab7-9fb6-a75a343c5ee4",
          name: "Prod"
        }, 
        {
          id: "2d6660fe-d5fc-4da6-90bd-68fc17b478f7",
          name: "Design"
        }
      ]
    }, 
    {
      id: "0e6700dc-41a1-4234-889e-908d9d6df3e2",
      name: "A Sub-Org",
      environments: [
        {
          id: "f16f1c35-c517-4442-8f73-36d0879e5832",
          name: "Sandbox"
        }, 
        {
          id: "f84ab301-17d4-4ed0-9beb-0c977e98045c",
          name: "Sub-Org Sandbox"
        }
      ]
    }
  ],
  scopes: [
    {
      scope: "api:admin",
      displayName: "API Admin",
      description: "Admin access to your applications in the API Portal",
      requiredContext: "orgWithEnv"
    }, 
    {
      scope: "org:read",
      displayName: "Read Organization Data",
      description: "Read-only access to your organization data",
      requiredContext: "orgOnly"
    }, 
    {
      scope: "profile",
      displayName: "Read Anypoint Profile",
      description: "Read-only access to your Anypoint Profile",
      requiredContext: "none"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connectedApplications\(clientId)\scopes:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      scope: "api:admin",
      context_params: {
        org: "8b0b657c-91ca-420d-870a-08699094f5e4",
        envId: "7cc0463b-f7be-418d-8a64-84fbad13ab00"
      }
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\scopes:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    scope: "openid",
    displayName: "Profile Data",
    description: "Read-only access to your Profile Data (username, email, unique ID)"
  }, 
  {
    scope: "offline_access",
    displayName: "Background Access",
    description: "Access to your data when you are not logged in"
  }, 
  {
    scope: "api:admin",
    displayName: "API Admin",
    description: "Admin access to your applications in the API Portal"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\connectedApplications\settings:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  whitelist_enabled: false,
  applications_enabled: "partial",
  grant_types_allowed: [
    "implicit", 
    "client_credentials", 
    "refresh_token"
  ],
  whitelist_internal_applications: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\support:apiV1-config">
        <logger level="INFO" message="get:\support:apiV1-config" />
    </flow>
    <flow name="get:\cs\organizations\(org)\teamAddMemberOptions:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      team_id: "1d0cd3f3-4a5d-41ec-a9a1-1aa63b1a61c5",
      team_name: "Potential New Parent A"
    }, 
    {
      team_id: "f44a37bf-6a35-4e8a-baaa-3314e336c008",
      team_name: "Potential New Parent B"
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(org)\teamNewParentOptions:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      team_id: "1d0cd3f3-4a5d-41ec-a9a1-1aa63b1a61c5",
      team_name: "Potential New Parent A"
    }, 
    {
      team_id: "f44a37bf-6a35-4e8a-baaa-3314e336c008",
      team_name: "Potential New Parent B"
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\users\(userId)\teams:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
      team_name: "IT",
      org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
      org_name: "Mythical Bank",
      team_type: "internal",
      ancestor_team_ids: [
        "6cad8143-5f3c-4258-8091-2e664819e7f3"
      ],
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z",
      membership_type: "maintainer",
      is_assigned_via_external_groups: false
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(org)\users\(userId)\teams:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
      team_name: "IT",
      org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
      org_name: "Mythical Bank",
      team_type: "internal",
      ancestor_team_ids: [
        "6cad8143-5f3c-4258-8091-2e664819e7f3"
      ],
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z",
      is_assigned_via_external_groups: false,
      membership_count: 31,
      membership_type: "member",
      ancestors: [
        {
          team_id: "6cad8143-5f3c-4258-8091-2e664819e7f3",
          team_name: "Mythical Bank all",
          org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
          org_name: "Mythical Bank",
          team_type: "internal",
          ancestor_team_ids: [],
          created_at: "2019-07-10T08:36:07.123Z",
          updated_at: "2019-07-11T16:46:27.123Z"
        }
      ]
    }, 
    {
      team_id: "6cad8143-5f3c-4258-8091-2e664819e7f3",
      team_name: "Mythical Bank all",
      org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
      org_name: "Mythical Bank",
      team_type: "internal",
      ancestor_team_ids: [],
      created_at: "2019-07-10T08:36:07.123Z",
      updated_at: "2019-07-11T16:46:27.123Z",
      is_assigned_via_external_groups: false,
      membership_count: 360,
      membership_type: "member",
      ancestors: []
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\teams:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
      team_name: "IT",
      org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
      org_name: "Mythical Bank",
      team_type: "internal",
      ancestor_team_ids: [
        "6cad8143-5f3c-4258-8091-2e664819e7f3"
      ],
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z"
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\(userId)\teams:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
      team_name: "IT",
      org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
      org_name: "Mythical Bank",
      team_type: "internal",
      ancestor_team_ids: [
        "6cad8143-5f3c-4258-8091-2e664819e7f3"
      ],
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z",
      membership_type: "maintainer",
      is_assigned_via_external_groups: false
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(org)\teams:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
      team_name: "IT",
      org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
      org_name: "Mythical Bank",
      team_type: "internal",
      ancestor_team_ids: [
        "6cad8143-5f3c-4258-8091-2e664819e7f3"
      ],
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z",
      is_assigned_via_external_groups: false,
      membership_count: 31,
      membership_type: "member",
      ancestors: [
        {
          team_id: "6cad8143-5f3c-4258-8091-2e664819e7f3",
          team_name: "Mythical Bank all",
          org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
          org_name: "Mythical Bank",
          team_type: "internal",
          ancestor_team_ids: [],
          created_at: "2019-07-10T08:36:07.123Z",
          updated_at: "2019-07-11T16:46:27.123Z"
        }
      ]
    }, 
    {
      team_id: "6cad8143-5f3c-4258-8091-2e664819e7f3",
      team_name: "Mythical Bank all",
      org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
      org_name: "Mythical Bank",
      team_type: "internal",
      ancestor_team_ids: [],
      created_at: "2019-07-10T08:36:07.123Z",
      updated_at: "2019-07-11T16:46:27.123Z",
      is_assigned_via_external_groups: false,
      membership_count: 360,
      membership_type: "member",
      ancestors: []
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\v2\oauth2\userinfo:apiV1-config">
        <logger level="INFO" message="get:\v2\oauth2\userinfo:apiV1-config" />
    </flow>
    <flow name="get:\organizations\(orgId)\provider\users:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  identity_management: {
    "type": {
      name: "saml",
      description: "SAML 2.0"
    },
    service_provider: {
      name: "Identity Federation Service Provider",
      urls: {
        sign_on: "https://pingfederate:9031/idp/startSSO.ping?PartnerSpId=chris.localhost.mulesoft.com",
        sign_out: "https://pingfederate:9031/idp/SLO.saml2"
      }
    },
    saml: {
      name: "SAML 2.0",
      issuer: "test.9.1.mulesoft.com",
      public_key: [
        "AAAA"
      ],
      audience: "chris.localhost.mulesoft.com",
      claims_mapping: {
        group_attribute: "memberOf"
      }
    }
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\users\(userId)\rolegroups:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      role_group_id: "36c6f48a-f26a-44b0-9789-dd8edd0f2df9",
      name: "Organization Administrators",
      description: "Organization Administrators",
      external_names: [],
      editable: false,
      org_id: "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z",
      context_params: {},
      user_role_group_id: "9ca1f615-45f8-4f36-86a0-ed1fe43cb551",
      user_count: 1
    }, 
    {
      role_group_id: "458b2756-6dfe-459a-9266-b5e79e5d074c",
      name: "Cloudhub Admin (Sandbox)",
      description: "Cloudhub (Sandbox) Admin users",
      external_names: [],
      editable: false,
      org_id: "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z",
      context_params: {},
      user_role_group_id: "3502c24f-eaac-49c6-bf1e-b2c19b1f8db8",
      user_count: 1
    }, 
    {
      role_group_id: "52de3521-906e-406f-8930-517897b0a0ee",
      name: "Cloudhub Admin (Sandbox)",
      description: "Cloudhub (Sandbox) Admin users",
      external_names: [],
      editable: false,
      org_id: "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z",
      context_params: {},
      user_role_group_id: "37cbeba9-e489-4309-85cc-ff6d4a3035e3",
      user_count: 1
    }, 
    {
      role_group_id: "95ab11f7-43be-4f7e-abc7-d258d6eb439a",
      name: "Organization Administrators",
      description: "Organization Administrators",
      external_names: [],
      editable: false,
      org_id: "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z",
      context_params: {},
      user_role_group_id: "3b01414f-57d4-44cf-85b4-e357cd381827",
      user_count: 1
    }, 
    {
      role_group_id: "bca51325-54e5-41fa-9cfa-0e1b64cefa01",
      name: "Cloudhub Admin (Design)",
      description: "Cloudhub (Design) Admin users",
      external_names: [],
      editable: false,
      org_id: "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z",
      context_params: {},
      user_role_group_id: "c345d5b6-7df5-4220-9731-d754f4dd79db",
      user_count: 1
    }, 
    {
      role_group_id: "d0473f21-8424-4aea-9fec-be54b9f84cf8",
      name: "Cloudhub Admin (Design)",
      description: "Cloudhub (Design) Admin users",
      external_names: [],
      editable: false,
      org_id: "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z",
      context_params: {},
      user_role_group_id: "c1757a9f-a72c-440c-a775-c125ce4fa466",
      user_count: 1
    }
  ],
  total: 6
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\connectedApplications\whitelist:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      client_id: "cba8d24f-8e6b-4615-9bb8-bc5a2c9933cd",
      authorized_scopes: [
        "openid", 
        "offline_access", 
        "read:organization"
      ]
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\connectedApplications\authorizations\(authorizationId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="authorizationId">attributes.uriParams.'authorizationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  authorization_id: "231245124",
  created_at: "2018-01-26T22:39:02.312Z",
  updated_at: "2018-01-26T22:39:02.312Z",
  last_used: "2018-01-26T22:39:02.312Z",
  user_id: "b65f412f-7d36-4109-b196-9d5ad07c2083",
  client_id: "d5e32198-7cc1-4c26-ab83-fd8912e16967",
  as_id: "anypoint",
  scopes: [
    "read:raml", 
    "read:users", 
    "offline_access"
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\clientProviders\(clientProviderId)\clients\(clientId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientProviderId">attributes.uriParams.'clientProviderId'</ee:set-variable>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  client_id: "8c45c1f1-d35b-42ed-b497-8c4af9e18c4e",
  client_name: "SampleClient",
  client_secret: "test-client-secret",
  grant_types: [
    "implicit", 
    "authorization_code"
  ],
  redirect_uris: [
    "https://localhost:3000/callback", 
    "https://example.com/auth-callback"
  ],
  org_id: "693ceb1a-c801-4b31-a491-8f194a624165",
  client_management_provider_id: "ff62313fc59845beaba2ffa79da1abc8"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\connectedApplications\(clientId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="clientId">attributes.uriParams.'clientId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  client_id: "0fa2aa2f0aeb4978b96796a0843f898c",
  owner_org_id: "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
  client_name: "SampleClient",
  client_secret: "B0313ad5a6B44f7ebb4Bf482C49327e1",
  public_keys: [],
  redirect_uris: [
    "https://why.net"
  ],
  grant_types: [
    "client_credentials"
  ],
  scopes: [],
  enabled: true,
  audience: "internal"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\clientProviders\(clientProviderId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientProviderId">attributes.uriParams.'clientProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  providerId: "2e71d283-6248-4c81-98eb-e254a89b7e0a",
  organizationId: "2e50e859-0042-46ff-8cf8-1ad6f0c78b67",
  name: "Production Client Management Config",
  "type": {
    description: "PingFederate",
    name: "ping"
  },
  allow_untrusted_certificates: true,
  oauth2_authorization_provider: {
    urls: {
      authorize: "https://example.com/as/authorization.oauth2"
    }
  },
  oauth2_token_provider: {
    urls: {
      create: "https:/example.com/as/token.oauth2"
    }
  },
  oauth2_token_validation_provider: {
    urls: {
      validate: "https://example.com/as/token.oauth2"
    },
    client_id: "c123985a07a64c08ad7a12738a954471",
    client_secret: "********",
    token_mapping: {
      username: "username",
      email: "email",
      firstName: "firstName",
      lastName: "lastName",
      user: "user"
    }
  },
  oauth2_client_provider: {
    urls: {
      create: "https://example.com/pf-ws/rest/oauth/clients",
      delete: "https://example.com/pf-ws/rest/oauth/clients/{{client_id}}"
    },
    username: "max.mule",
    password: "********",
    grant_types: [
      {
        name: "password",
        label: "Resource Owner Grant",
        required: false,
        exclude: [],
        depends: []
      }, 
      {
        name: "implicit",
        label: "Implicit Grant",
        required: false,
        exclude: [],
        depends: []
      }, 
      {
        name: "client_credentials",
        label: "Client Credentials Grant",
        required: false,
        exclude: [],
        depends: []
      }, 
      {
        name: "authorization_code",
        label: "Authorization Code Grant",
        required: false,
        exclude: [],
        depends: []
      }, 
      {
        name: "refresh_token",
        label: "Refresh Token",
        required: false,
        exclude: [],
        depends: [
          "authorization_code", 
          "password"
        ]
      }
    ],
    bypass_approval_page: false,
    send_credentials_in_header: false
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\oauth2\authorize\(domain):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="domain">attributes.uriParams.'domain'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\oauth2\authorize\(domain):apiV1-config" />
    </flow>
    <flow name="get:\v2\organizations\(orgId)\entitlements\(entitlementName):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="entitlementName">attributes.uriParams.'entitlementName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  createEnvironments: true
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(org)\hubSpokeRelations\(hubSpokeRelationId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
                <ee:set-variable variableName="hubSpokeRelationId">attributes.uriParams.'hubSpokeRelationId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 600,
  invited_at: "2022-01-13T19:51:55.433Z",
  invited_by_user: {
    id: "d4691cf7-6cf6-4eb0-b095-87a3b2072a0a",
    username: "hub_org_admin",
    first_name: "HubOrgAdmin",
    last_name: "Administrator"
  },
  hub_org: {
    id: "025abacc-e018-4e38-a117-8c1e6251006c",
    name: "Anypoint Org"
  },
  spoke_org: {
    id: "c731e714-35c2-4e08-98ae-9b843129f4fb",
    name: "Composer Org 1"
  },
  status: "PENDING",
  completed_at: null,
  completed_by_user: null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\identityProviders\(identityProviderId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="identityProviderId">attributes.uriParams.'identityProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  provider_id: "2e71d283-6248-4c81-98eb-e254a89b7e0a",
  org_id: "2e50e859-0042-46ff-8cf8-1ad6f0c78b67",
  name: "Primary Identity Management Config",
  "type": {
    description: "SAML 2.0",
    name: "saml"
  },
  service_provider: {
    urls: {
      sign_on: "https://example.com/idp/login",
      sign_out: "https://example.com/idp/logout"
    }
  },
  saml: {
    audience: "example.anypoint.mulesoft.com",
    issuer: "https://example.com",
    public_key: [
      "-----BEGIN CERTIFICATE-----\nMIID4DCCA8igAwIBAgIOAXD1Vx9oAAAAAE8I+UMwDQYJKoZIhvcNAQELBQAwgaEx\nORA3BgNVBAMMMFNlbGZTaWduZWRDZXJTZWxmU2lnbmVkQ2VydF8xOU1hcjIwMjB0\nXzE5TWFyMjAyMDEYMBYGA1UECwwPMDBEZjQwMDAwNDNBVjZmMRcwFQYDVQQKDA5T\nYWxlc2ZvcmNlLmNvbTEWMBQGA1UEBwwNU2FuIEZyYW5jaXNjbZELMAkGA1UECAwC\nQ0ExDDAKBgNVBAYTA1VTQTAeFw0yMDAzMjAwMDI4MTJaFw0yMTAzMjAwMDAwMDBa\nMIGhMTkwNwYDVQQDDDBTZWxmU2lnbmVkQ2VyU2VsZlNpZ25lZENlcnRfMTlNYXIy\nMDIwdF8xOU1hcjIwMjAxGDAWBgNVBAsMDzAwRGY0MDAwMDAzQVY2ZjEXMBUGA1UE\nCgwOU2FsZXNmb3JjZS5jb20xFjAUBgNVBAcMDVNhbiBGcmFuY2lzY28xCzAJBgNV\nBAgMAkNBMQwwCgYDVQQGEwNVU0EwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK\nAoIBAQCe/YnyilbiG6ptsIQu4V+Oe+hAMNYeBHh9JvnihAYe4z679KVJLpY+rE3N\nXK+JbZRDCUVewlSj+QhfvykzvJyXUrPC2NyrshW9DFUB36JbOBIYQL00s4TNEBTt\nz/LgDuVn0B7p5uk1HfeL6Ycul3XmAss913XRRMBmdTwi6vK+sVr4rTfzoFxyg7vS\nAAxDfrZh0mgieuVUENGXmV1OEKuX4G4WIeTwsOz0woHbNXM1M7Q1F9zLJK93QrpS\nOg0n3oAFyk9KAQ/Gv3AW12N5VlUAc+/NttRkO9k+ZhDllZSDWQSYokRbrxXurske\n22Tp+rxr80lGFqDyb6bTem1c8s8jAgMBAAGjggESMIIBDjAdBgNVHQ4EFgQUM50l\nbdnhkFhJAcf/28trPacGk18wDwYDVR0TAQH/BAUwAwEB/zCB2wYDVR0jBIHTMIHQ\ngBQznSVt2eGQWEkBx//by2s9pwaTX6GBp6SBpDCBoTE5MDcGA1UEAwwwU2VsZlNp\nZ25lZENlclNlbGZTaWduZWRDZXJ0XzE5TWFyMjAyMHRfMTlNYXIyMDIwMRgwFgYD\nVQQLDA8wMERmNDAwMDAwM0FWNmYxFzAVBgNVBAoMDlNhbGVzZm9yY2UuY29tMRYw\nFAYDVQQHDA1TYW4gRnJhbmNpc2NvMQswCQYDVQQIDAJDQTEMMAoGA1UEBhMDVVNB\ngg4BcPVXH2gAAAAATwj5QzANBgkqhkiG9w0BAQsFAAOCAQEANEupbkT3hHAP0iXR\n7TUNxYBi5y/TeMHE7SfRboMZpjLKMRiRCpCjSl2KlZp+wmGpGBfRiL1fPmiDOiPp\n3XyWcJ5+xPL5btQhcnD+YsMcFLsKIIbCtqS0NXUWa1K4oRq2z4/EBrXZLtniQ+8M\noQnXYvH5zKkpjH1JM8BDfceymgrYsdXmu3rflXuvxBLsDMDdk0zTojL1rIqzxTPH\nS2iabxwLeVWQEGPtXmRtS+kP6CY1pNoYbAFrJzZf4wakx95vwTqSXfcIoFdHUG5B\nX6db+brGnxVgv4mL8ZbxljYhcNDMyNm6kGoPqEyhGHhDTnQyn1RKcStBxkDXPIL3\nb6ojYg==\n-----END CERTIFICATE-----"
    ],
    claims_mapping: {
      group_attribute: "memberOf"
    },
    sp_initiated_sso_enabled: false,
    idp_initiated_sso_enabled: true,
    require_encrypted_saml_assertions: false
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\invites\(inviteId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="inviteId">attributes.uriParams.'inviteId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 520,
  code: "f2e8dfab-6699-4889-831f-6dc6f8428cb0",
  invited_at: "2015-01-30T22:23:55.433Z",
  invited_email: "christopher.mordue@mulesoft.com",
  invited_by_user: {
    id: "57e281b5-ec5b-4701-80a0-92a936a68da3",
    username: "organization_owner",
    first_name: "Organization2",
    last_name: "Owner"
  },
  invited_to_org: {
    id: "f0c9b011-980e-4928-9430-e60e3a97c043",
    name: "MuleSoft Inc"
  },
  expires_at: "2015-04-10T22:23:55.433Z",
  status: "INVITED",
  completed_at: null,
  completed_by_user: null,
  teams: [
    {
      team_name: "IT",
      team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
      membership_type: "member"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\invites\(inviteId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="inviteId">attributes.uriParams.'inviteId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: 520,
  code: "f2e8dfab-6699-4889-831f-6dc6f8428cb0",
  invited_at: "2015-01-30T22:23:55.433Z",
  invited_email: "christopher.mordue@mulesoft.com",
  invited_by_user: {
    id: "57e281b5-ec5b-4701-80a0-92a936a68da3",
    username: "organization_owner",
    first_name: "Organization2",
    last_name: "Owner"
  },
  invited_to_org: {
    id: "f0c9b011-980e-4928-9430-e60e3a97c043",
    name: "MuleSoft Inc"
  },
  expires_at: "2015-04-10T22:23:55.433Z",
  status: "INVITED",
  completed_at: null,
  completed_by_user: null,
  teams: [
    {
      team_name: "IT",
      team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
      membership_type: "member"
    }
  ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\v2\organizations\(orgId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\v2\organizations\(orgId):apiV1-config" />
    </flow>
    <flow name="get:\oauth2\authorize\(domain)\providers\(providerId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="domain">attributes.uriParams.'domain'</ee:set-variable>
                <ee:set-variable variableName="providerId">attributes.uriParams.'providerId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\oauth2\authorize\(domain)\providers\(providerId):apiV1-config" />
    </flow>
    <flow name="get:\recover\password\(recoverCode):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="recoverCode">attributes.uriParams.'recoverCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"OK"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\organizations\(orgId)\identityProviders\(identityProviderId)\saml-sp-keys\(samlSpKeyId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="identityProviderId">attributes.uriParams.'identityProviderId'</ee:set-variable>
                <ee:set-variable variableName="samlSpKeyId">attributes.uriParams.'samlSpKeyId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="get:\organizations\(orgId)\identityProviders\(identityProviderId)\saml-sp-keys\(samlSpKeyId):apiV1-config" />
    </flow>
    <flow name="get:\organizations\(orgId)\teams\(teamId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
  team_name: "IT",
  org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
  org_name: "Mythical Bank",
  team_type: "internal",
  ancestor_team_ids: [
    "6cad8143-5f3c-4258-8091-2e664819e7f3"
  ],
  created_at: "2019-07-15T09:36:07.123Z",
  updated_at: "2019-07-15T09:36:07.123Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cs\organizations\(org)\teams\(teamId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
  team_name: "IT",
  org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
  org_name: "Mythical Bank",
  team_type: "internal",
  ancestor_team_ids: [
    "6cad8143-5f3c-4258-8091-2e664819e7f3"
  ],
  created_at: "2019-07-15T09:36:07.123Z",
  updated_at: "2019-07-15T09:36:07.123Z",
  is_assigned_via_external_groups: false,
  membership_count: 31,
  membership_type: "member",
  ancestors: [
    {
      team_id: "6cad8143-5f3c-4258-8091-2e664819e7f3",
      team_name: "Mythical Bank all",
      org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
      org_name: "Mythical Bank",
      team_type: "internal",
      ancestor_team_ids: [],
      created_at: "2019-07-10T08:36:07.123Z",
      updated_at: "2019-07-11T16:46:27.123Z"
    }
  ],
  external_group_mappings: {
    total: 2,
    data: [
      {
        membership_type: "maintainer",
        external_group_name: "maintainer_group"
      }, 
      {
        membership_type: "member",
        external_group_name: "member_group"
      }
    ]
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\admin\keys\(usage):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="usage">attributes.uriParams.'usage'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      kid: "5effa76ef33ecb5e346bd512d7d89b30e47d8e98",
      created_at: "2018-11-08T01:40:51.355Z",
      retired_at: "2020-10-08T16:57:00.300Z",
      active: false
    }, 
    {
      kid: "234567890b5e346bd512d7d89b30e47d8e98",
      created_at: "2018-11-08T01:40:51.355Z",
      retired_at: null,
      active: true
    }
  ],
  total: 30
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\cs\resources\authorize:application\json:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    namespace: "somenamespace1",
    action: "GET",
    resources: [
      "/api/users", 
      "/api/clients"
    ],
    authorizedResources: [
      "/api/users"
    ]
  }, 
  {
    namespace: "somenamespace2",
    action: "GET",
    resources: [
      "/api/users", 
      "/api/clients"
    ],
    authorizedResources: [
      "/api/users", 
      "/api/clients"
    ]
  }, 
  {
    namespace: "somenamespace3",
    action: "GET",
    resources: [
      "/api/users", 
      "/api/clients"
    ],
    authorizedResources: [
      "/api/users", 
      "/api/clients"
    ]
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\v2\oauth2\authorize:application\x-www-form-urlencoded:apiV1-config">
        <logger level="INFO" message="post:\v2\oauth2\authorize:application\x-www-form-urlencoded:apiV1-config" />
    </flow>
    <flow name="post:\organizations\(orgId)\clientProviders:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\organizations\(orgId)\clientProviders:application\json:apiV1-config" />
    </flow>
    <flow name="post:\organizations\(orgId)\clients\search:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    client_id: "ac_client",
    name: "Authorization Code",
    redirect_uris: [
      "http://localhost:3004/auth/callback"
    ],
    grant_types: [
      "authorization_code", 
      "refresh_token"
    ],
    properties: {
      additional: "meta-data"
    },
    org_id: "40260a62-bbdc-469d-9330-5eec892abbbb"
  }, 
  {
    client_id: "rs_client",
    name: "Resource Server",
    grant_types: [
      "validate_bearer"
    ],
    properties: {
      additional: "meta-data"
    },
    org_id: "40260a62-bbdc-469d-9330-5eec892abbbb"
  }, 
  {
    client_id: "ro_client",
    name: "Resource Owner",
    grant_types: [
      "password", 
      "refresh_token"
    ],
    properties: {
      additional: "meta-data"
    },
    org_id: "40260a62-bbdc-469d-9330-5eec892abbbb"
  }, 
  {
    client_id: "cc_client",
    name: "Client Credentials",
    grant_types: [
      "client_credentials"
    ],
    properties: {
      additional: "meta-data"
    },
    org_id: "40260a62-bbdc-469d-9330-5eec892abbbb"
  }, 
  {
    client_id: "im_client",
    name: "Implicit",
    redirect_uris: [
      "http://localhost:3004/auth/callback"
    ],
    grant_types: [
      "implicit", 
      "validate_bearer"
    ],
    properties: {
      additional: "meta-data"
    },
    org_id: "40260a62-bbdc-469d-9330-5eec892abbbb"
  }, 
  {
    client_id: "cp_client",
    name: "Client Credentials",
    redirect_uris: [
      "http://localhost:3004/auth/callback"
    ],
    grant_types: [
      "client_credentials"
    ],
    org_id: "40260a62-bbdc-469d-9330-5eec892abbbb",
    client_management_provider_id: "b732985a-d30f-11e9-bb65-2a2ae2dbcce4"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\organizations\(orgId)\clientProviders\(clientProviderId)\clients:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="clientProviderId">attributes.uriParams.'clientProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\organizations\(orgId)\clientProviders\(clientProviderId)\clients:application\json:apiV1-config" />
    </flow>
    <flow name="post:\connectedApplications:application\json:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  client_id: "0fa2aa2f0aeb4978b96796a0843f898c",
  owner_org_id: "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
  client_name: "SampleClient",
  client_secret: "B0313ad5a6B44f7ebb4Bf482C49327e1",
  public_keys: [],
  redirect_uris: [
    "https://why.net"
  ],
  grant_types: [
    "client_credentials"
  ],
  scopes: [],
  enabled: true,
  audience: "internal"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\authorize\context:application\json:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      namespace: "cloudhub",
      resource: "/organizations/614b40bf-6eb6-49ac-82f4-d8332b6f4d1b/environments/a4685c7a-08fe-45d7-9e29-87b84223d251/applications",
      resourceTemplate: "/organizations/{{org}}/environments/{{envId}}/applications",
      resourceTemplateParams: {
        org: "614b40bf-6eb6-49ac-82f4-d8332b6f4d1b",
        envId: "a4685c7a-08fe-45d7-9e29-87b84223d251"
      },
      actions: [
        "GET"
      ]
    }, 
    {
      namespace: "cloudhub",
      resource: "/organizations/614b40bf-6eb6-49ac-82f4-d8332b6f4d1b/environments/05e35d44-405a-4693-81ce-4e78e9a72891/applications",
      resourceTemplate: "/organizations/{{org}}/environments/{{envId}}/applications",
      resourceTemplateParams: {
        org: "614b40bf-6eb6-49ac-82f4-d8332b6f4d1b",
        envId: "05e35d44-405a-4693-81ce-4e78e9a72891"
      },
      actions: [
        "GET"
      ]
    }, 
    {
      namespace: "cloudhub",
      resource: "/organizations/d71ef2da-40cf-415b-80fd-eab0a7130bc8/environments/*/applications",
      resourceTemplate: "/organizations/{{org}}/environments/{{envId}}/applications",
      resourceTemplateParams: {
        org: "d71ef2da-40cf-415b-80fd-eab0a7130bc8",
        envId: "*"
      },
      actions: [
        "GET"
      ]
    }
  ],
  total: 3
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\v2\oauth2\decision:apiV1-config">
        <logger level="INFO" message="post:\v2\oauth2\decision:apiV1-config" />
    </flow>
    <flow name="post:\cs\organizations\(org)\hubSpokeRelations:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 600,
    invited_at: "2022-01-13T19:51:55.433Z",
    invited_by_user: {
      id: "d4691cf7-6cf6-4eb0-b095-87a3b2072a0a",
      username: "hub_org_admin",
      first_name: "HubOrgAdmin",
      last_name: "Administrator"
    },
    hub_org: {
      id: "025abacc-e018-4e38-a117-8c1e6251006c",
      name: "Anypoint Org"
    },
    spoke_org: {
      id: "c731e714-35c2-4e08-98ae-9b843129f4fb",
      name: "Composer Org 1"
    },
    status: "PENDING",
    completed_at: null,
    completed_by_user: null
  }, 
  {
    id: 601,
    invited_at: "2022-01-13T19:51:55.433Z",
    invited_by_user: {
      id: "d4691cf7-6cf6-4eb0-b095-87a3b2072a0a",
      username: "hub_org_admin",
      first_name: "HubOrgAdmin",
      last_name: "Administrator"
    },
    hub_org: {
      id: "025abacc-e018-4e38-a117-8c1e6251006c",
      name: "Anypoint Org"
    },
    spoke_org: {
      id: "74b1bbb0-d8e4-4c34-a501-2cce62d7df9e",
      name: "Composer Org 2"
    },
    status: "PENDING",
    completed_at: null,
    completed_by_user: null
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\organizations\(orgId)\identityProviders:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\organizations\(orgId)\identityProviders:application\json:apiV1-config" />
    </flow>
    <flow name="post:\organizations\(orgId)\users\(userId)\identityProviders:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\organizations\(orgId)\users\(userId)\identityProviders:application\json:apiV1-config" />
    </flow>
    <flow name="post:\oauth2\introspect:application\json:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  active: true,
  token_type: "bearer",
  user_id: "40e238d8-9f6c-495f-b000-0029f5576041",
  username: "paul.hilfinger",
  client_id: null,
  iat: 1539823220995,
  exp: 1539857830528
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\v2\oauth2\introspect:application\x-www-form-urlencoded:apiV1-config">
        <logger level="INFO" message="post:\v2\oauth2\introspect:application\x-www-form-urlencoded:apiV1-config" />
    </flow>
    <flow name="post:\oauth2\introspect:application\x-www-form-urlencoded:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  active: true,
  token_type: "bearer",
  user_id: "40e238d8-9f6c-495f-b000-0029f5576041",
  username: "paul.hilfinger",
  client_id: null,
  iat: 1539823220995,
  exp: 1539857830528
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\invites:application\json:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 520,
    code: "f2e8dfab-6699-4889-831f-6dc6f8428cb0",
    invited_at: "2015-01-30T22:23:55.433Z",
    invited_email: "christopher.mordue@mulesoft.com",
    invited_by_user: {
      id: "57e281b5-ec5b-4701-80a0-92a936a68da3",
      username: "organization_owner",
      first_name: "Organization2",
      last_name: "Owner"
    },
    invited_to_org: {
      id: "f0c9b011-980e-4928-9430-e60e3a97c043",
      name: "MuleSoft Inc"
    },
    expires_at: "2015-04-10T22:23:55.433Z",
    status: "INVITED",
    completed_at: null,
    completed_by_user: null,
    role_groups: [
      {
        name: "Organization Administrators",
        role_group_id: "0b19f6df-ed81-4fd1-b5e7-4921f5e46f4c"
      }
    ]
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\organizations\(orgId)\invites:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: 520,
    code: "f2e8dfab-6699-4889-831f-6dc6f8428cb0",
    invited_at: "2015-01-30T22:23:55.433Z",
    invited_email: "christopher.mordue@mulesoft.com",
    invited_by_user: {
      id: "57e281b5-ec5b-4701-80a0-92a936a68da3",
      username: "organization_owner",
      first_name: "Organization2",
      last_name: "Owner"
    },
    invited_to_org: {
      id: "f0c9b011-980e-4928-9430-e60e3a97c043",
      name: "MuleSoft Inc"
    },
    expires_at: "2015-04-10T22:23:55.433Z",
    status: "INVITED",
    completed_at: null,
    completed_by_user: null,
    role_groups: [
      {
        name: "Organization Administrators",
        role_group_id: "0b19f6df-ed81-4fd1-b5e7-4921f5e46f4c"
      }
    ]
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\organizations\(orgId)\identityProviders\ldap-test:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\organizations\(orgId)\identityProviders\ldap-test:application\json:apiV1-config" />
    </flow>
    <flow name="post:\organizations\(orgId)\provider\users\ldap\test:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\organizations\(orgId)\provider\users\ldap\test:application\json:apiV1-config" />
    </flow>
    <flow name="post:\cs\organizations\(org)\rolegroups\(roleGroupId)\migrate:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
                <ee:set-variable variableName="roleGroupId">attributes.uriParams.'roleGroupId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\cs\organizations\(org)\rolegroups\(roleGroupId)\migrate:application\json:apiV1-config" />
    </flow>
    <flow name="post:\recover\password:application\json:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"OK"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\organizations\(orgId)\proxyusers\(userId):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: "4b353f44-6486-42ae-ae77-18b4032f9643",
  username: "7b633d56-de50-11e9-8a34-2a2ae2dbcce4:f0c9b011-980e-4928-9430-e60e3a97c043",
  firstName: "",
  lastName: "",
  email: "",
  enabled: true,
  deleted: false,
  idprovider_id: "mulesoft",
  "type": "proxy",
  createdAt: "2019-09-24T00:36:58.000Z",
  updatedAt: "2019-09-24T00:36:58.000Z",
  organizationId: "f0c9b011-980e-4928-9430-e60e3a97c043"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\organizations\(orgId)\invites\resend:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  succeeded: [
    520
  ],
  failed: []
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\invites\resend:application\json:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  succeeded: [
    520
  ],
  failed: []
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\v2\oauth2\revoke:application\x-www-form-urlencoded:apiV1-config">
        <logger level="INFO" message="post:\v2\oauth2\revoke:application\x-www-form-urlencoded:apiV1-config" />
    </flow>
    <flow name="post:\cs\organizations\(org)\identities\roles:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\cs\organizations\(org)\identities\roles:application\json:apiV1-config" />
    </flow>
    <flow name="post:\organizations\(orgId)\teams\(teamId)\roles:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="teamId">attributes.uriParams.'teamId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\organizations\(orgId)\teams\(teamId)\roles:application\json:apiV1-config" />
    </flow>
    <flow name="post:\admin\keys\(usage)\rotate:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="usage">attributes.uriParams.'usage'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\admin\keys\(usage)\rotate:apiV1-config" />
    </flow>
    <flow name="post:\organizations\(orgId)\identityProviders\(identityProviderId)\saml-sp-keys:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="identityProviderId">attributes.uriParams.'identityProviderId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  id: "1e2994ff-e6f1-4d11-ab93-3f17af9c9630",
  primary: false,
  created_at: "2020-07-02T18:28:25.218Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\roles\users\search:application\json:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      id: "d5d309ee-8c23-49e3-bec1-70ee99c42061",
      username: "Immanuel1234",
      firstName: "Immanuel",
      lastName: "Jagerson",
      email: "Immanuel@gmail.com",
      enabled: true,
      idprovider_id: "mulesoft",
      "type": "host",
      createdAt: "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
      updatedAt: "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
      lastLogin: "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
      organizationId: "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
      assignments: [
        {
          role_id: "833ab9ca-0c72-45ba-9764-1df83240db57",
          context_params: {
            org: "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
            user: "d5d309ee-8c23-49e3-bec1-70ee99c42061"
          },
          created_at: "2019-10-21T11:11:48.204521-07:00"
        }, 
        {
          role_id: "e3284047-6334-4580-b441-53afe7598b6e",
          context_params: {
            org: "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
            envId: "4c4efd56-9232-4f41-bb5c-4990539d519f"
          },
          created_at: "2019-10-21T11:11:48.204521-07:00"
        }
      ]
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\cs\organizations\(org)\identities\roles\search:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="org">attributes.uriParams.'org'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      id: "55a17d8e-093f-4865-884c-f00f3c60711b",
      name: "ACME",
      "type": "external_organization",
      details: {
        id: "55a17d8e-093f-4865-884c-f00f3c60711b",
        name: "ACME",
        domain: "acme-inc"
      },
      assignments: [
        {
          role_id: "53823f29-6e57-4c42-acdb-e42a881a888f",
          name: "Manage Servers",
          context_params: {
            org: "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
            envId: "4c4efd56-9232-4f41-bb5c-4990539d519f"
          },
          created_at: "2020-01-02T15:36:07.123Z"
        }
      ]
    }, 
    {
      id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
      name: "IT",
      "type": "team",
      details: {
        team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
        team_name: "IT",
        org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
        org_name: "Mythical Bank",
        team_type: "internal",
        ancestor_team_ids: [
          "6cad8143-5f3c-4258-8091-2e664819e7f3"
        ],
        created_at: "2019-07-15T09:36:07.123Z",
        updated_at: "2019-07-15T09:36:07.123Z"
      },
      assignments: [
        {
          role_id: "53823f29-6e57-4c42-acdb-e42a881a888f",
          name: "Manage Servers",
          context_params: {
            org: "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
            envId: "4c4efd56-9232-4f41-bb5c-4990539d519f"
          },
          created_at: "2019-07-15T09:36:07.123Z"
        }
      ]
    }, 
    {
      id: "d5d309ee-8c23-49e3-bec1-70ee99c42061",
      name: "Immanuel1234",
      "type": "user",
      details: {
        id: "d5d309ee-8c23-49e3-bec1-70ee99c42061",
        username: "example1234",
        firstName: "Example",
        lastName: "Test",
        email: "example1234@example.com",
        enabled: true,
        idprovider_id: "mulesoft",
        "type": "host",
        createdAt: "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
        updatedAt: "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
        lastLogin: "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
        organizationId: "7f30ff47-5917-4a5a-b94d-9fe029edc04d"
      },
      assignments: [
        {
          role_id: "53823f29-6e57-4c42-acdb-e42a881a888f",
          name: "Manage Servers",
          context_params: {
            org: "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
            envId: "d5d309ee-8c23-49e3-bec1-70ee99c42061"
          },
          created_at: "2019-07-15T09:36:07.123Z"
        }, 
        {
          role_id: "53823f29-6e57-4c42-acdb-e42a881a888f",
          name: "Manage Servers",
          context_params: {
            org: "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
            envId: "4c4efd56-9232-4f41-bb5c-4990539d519f"
          },
          created_at: "2019-07-15T09:36:07.123Z"
        }
      ]
    }
  ],
  total: 3
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\admin\connectedApplications\search:application\json:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      client_id: "0fa2aa2f0aeb4978b96796a0843f898c",
      owner_org_id: "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
      client_name: "Client Credz",
      client_secret: "********",
      public_keys: [],
      redirect_uris: [
        "https://why.net"
      ],
      grant_types: [
        "client_credentials"
      ],
      scopes: [],
      enabled: true,
      audience: "internal",
      client_uri: null,
      policy_uri: null,
      tos_uri: null
    }, 
    {
      client_id: "e8c28f0249a6417bb892ff8d6013d628",
      owner_org_id: "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
      client_name: "OpenID Integration",
      client_secret: "********",
      public_keys: [],
      redirect_uris: [
        "https://example.com"
      ],
      grant_types: [
        "implicit", 
        "authorization_code", 
        "refresh_token"
      ],
      scopes: [
        "full", 
        "read:full", 
        "openid", 
        "profile", 
        "email", 
        "offline_access"
      ],
      enabled: true,
      audience: "internal",
      client_uri: null,
      policy_uri: null,
      tos_uri: null
    }
  ],
  total: 2
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\roles\rolegroups\search:application\json:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      created_at: "2021-02-27T01:32:59.572Z",
      updated_at: "2021-02-27T01:32:59.572Z",
      role_group_id: "1af07a40-cf95-4ed5-a312-7bd453576ac9",
      name: "f25df118-08c9-496d-9689-3690eeac6eba",
      description: "d50d05da-880a-4d75-beab-d3c2c1398e10",
      org_id: "7dc95b9d-aae3-426c-a86d-7f6b19265af1",
      editable: true,
      external_names: [
        {
          external_group_name: "my external group",
          provider_id: "2e50e859-0042-46ff-8cf8-1ad6f0c78b67"
        }
      ],
      user_count: 1,
      assignments: [
        {
          role_id: "f5b8dd3e-8988-4f39-afab-79f86c710cd4",
          context_params: {
            org: "7dc95b9d-aae3-426c-a86d-7f6b19265af1"
          },
          created_at: "2021-02-26T17:32:59.606836"
        }
      ],
      org_name: "and Sons0"
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\roles\teams\search:application\json:apiV1-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  data: [
    {
      team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
      team_name: "IT",
      org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
      org_name: "Mythical Bank",
      team_type: "internal",
      ancestor_team_ids: [
        "6cad8143-5f3c-4258-8091-2e664819e7f3"
      ],
      created_at: "2019-07-15T09:36:07.123Z",
      updated_at: "2019-07-15T09:36:07.123Z",
      assignments: [
        {
          role_id: "53823f29-6e57-4c42-acdb-e42a881a888f",
          name: "Manage Servers",
          context_params: {
            org: "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
            envId: "4c4efd56-9232-4f41-bb5c-4990539d519f"
          },
          created_at: "2019-10-21T11:11:48.204521-07:00"
        }
      ]
    }
  ],
  total: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\organizations\(orgId)\identityProviders\(identityProviderId)\saml-sp-keys\(samlSpKeyId)\setPrimary:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
                <ee:set-variable variableName="identityProviderId">attributes.uriParams.'identityProviderId'</ee:set-variable>
                <ee:set-variable variableName="samlSpKeyId">attributes.uriParams.'samlSpKeyId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    id: "1e2994ff-e6f1-4d11-ab93-3f17af9c9630",
    primary: false,
    created_at: "2020-07-02T18:28:25.218Z"
  }, 
  {
    id: "624e3b14-60f4-4813-955a-ef2049f3a0da",
    primary: true,
    created_at: "2020-07-03T18:28:25.218Z"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\organizations\(orgId)\teams:application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="orgId">attributes.uriParams.'orgId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  team_id: "f59632be-e43f-4c4f-a303-36b8b0623f29",
  team_name: "IT",
  org_id: "6cb9cf0c-de02-4403-ace9-1857c0d0425f",
  org_name: "Mythical Bank",
  team_type: "internal",
  ancestor_team_ids: [
    "6cad8143-5f3c-4258-8091-2e664819e7f3"
  ],
  created_at: "2019-07-15T09:36:07.123Z",
  updated_at: "2019-07-15T09:36:07.123Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\v2\oauth2\token:apiV1-config">
        <logger level="INFO" message="post:\v2\oauth2\token:apiV1-config" />
    </flow>
    <flow name="post:\oauth2\token:application\json:apiV1-config">
        <logger level="INFO" message="post:\oauth2\token:application\json:apiV1-config" />
    </flow>
    <flow name="post:\v2\oauth2\userinfo:apiV1-config">
        <logger level="INFO" message="post:\v2\oauth2\userinfo:apiV1-config" />
    </flow>
    <flow name="post:\recover\username:application\json:apiV1-config">
        <logger level="INFO" message="post:\recover\username:application\json:apiV1-config" />
    </flow>
    <flow name="post:\oauth2\decision\(domain):apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="domain">attributes.uriParams.'domain'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" message="post:\oauth2\decision\(domain):apiV1-config" />
    </flow>
    <flow name="post:\recover\password\(recoverCode):application\json:apiV1-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="recoverCode">attributes.uriParams.'recoverCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"OK"]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
